<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.seat.dao.SeatMapper"><!--인터페이스명-자동매핑-->
	<!-- 좌석 등록 -->
	<insert id="insertSeat" parameterType="seatVO">
		INSERT INTO seat(
			seat_num,
			seat_rank,
			seat_row,
			seat_column,
			c_num)
		VALUES (
			seat_num_seq.nextval,
			#{seat_num},
			#{seat_rank},
			#{seat_row},
			#{seat_column},
			#{c_num})
	</insert>
</mapper>							






