<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.movie.dao.MovieRankMapper">
	<insert id="insertMovieRank"
		parameterType="movieRankAPIVO">
		INSERT INTO movie_rank_api (rnum,rank,showRange, movieNm, movieCd, openDt,
		salesAmt, salesAcc, audiCnt, audiAcc)
		VALUES (#{rnum},#{rank},#{showRange},#{movieNm}, #{movieCd}, #{openDt},
		#{salesAmt}, #{salesAcc}, #{audiCnt}, #{audiAcc})
	</insert>

	<select id="getMovieRank"
		resultType="movieRankAPIVO">
		SELECT * FROM movie_rank_api
	</select>
</mapper>							






