<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="kr.spring.myPage.dao.MyPageMapper">
	<!-- 쿠폰 목록 -->
	<select id="selectMemCouponList" parameterType="long">
		SELECT mc.*, c.*, ADD_MONTHS(mc.coupon_regdate, 1) coupon_enddate FROM member_coupon mc JOIN coupon_db c ON mc.coupon_num = c.coupon_num
		WHERE mc.mem_num = #{mem_num}
	</select>

	<sql id="myPageBoardSearch">
	<where>
		<if test="cb_type !=null and cb_type!= ''">
			cb_type = #{cb_type}
		</if>
	</where>
	</sql>
	
	<select id="cBoardWriteListcnt" parameterType="map" resultType="integer">
	SELECT COUNT(*) FROM community_board WHERE mem_num=#{mem_num}
	<include refid="myPageBoardSearch"></include>
	</select>
	<!-- 게시글 목록 -->
	<select id="selectMemcBoardWriteList" parameterType="map" resultType="boardVO">
		SELECT * FROM community_board LEFT OUTER JOIN (SELECT COUNT(*) fav_cnt,cb_num FROM community_fav GROUP BY cb_num)USING(cb_num) WHERE mem_num=#{mem_num}
		<include refid="myPageBoardSearch"></include>
	</select>
	
	<update id="updateMember_detail" parameterType="myPageVO">
        UPDATE member_detail
        SET mem_name = #{mem_name},
        	mem_id = #{mem_id},
            mem_nickname = #{mem_nickname},
            mem_phone = #{mem_phone},
            mem_modify_date = SYSDATE
        WHERE mem_num = #{mem_num}
    </update>
	
 </mapper>