@charset "UTF-8";
* {
    box-sizing: border-box;
    margin : 0;
}

body {
    line-height: 2.0;
}

.container_admin {
padding: 4px;
    margin: 0 auto;
    overflow: hidden;
}

.site-header {
    background-color: var(--gray-1);
}

.site-header .logo {
    float: left;
}

.site-header .logo a {
    color: #fff;
    text-decoration: none;
}


.site-header .main-navigation {
    float: right;
}

.site-header .main-navigation ul {
    list-style-type: none;
}

.site-header .main-navigation ul li {
    display: inline-block;
}

.site-header .main-navigation ul li a {
        font-weight: 600;
    color: #000;
    text-decoration: none;
    font-size: 13px;
    transition: all 0.3s ease;
    padding: 10px;
}
