@charset "UTF-8";

.comment-report-form {
    width: 400px;
    height: 630px;
    padding: 20px;
    background-color: #fefefe;
    margin: 0 auto;
    overflow: hidden;

}
.comment-report-form h3{
	text-align:center;
}

.flexbox-p {
    display: flex;
    flex-direction: column;
}
.info-con{
	padding:5px;
}
.category-con{
	padding:5px;
}
.category-label{
	display:inline-block;
	margin:0 0 10px 0;
	font-size:17px;
}
.radio-con{
	gap:5px;
}
.radio-con > *{
	font-size:16px;
}
.cr-content, .rr-content{
	display:inline-block;
	margin:20px 0 5px 0;
}
textarea#cr_content, textarea#rr_content {
    resize: none;
    overflow: auto;
    width: 375px;
    height: 70px;
    margin-bottom:10px;
}

.report-info label {
    display: inline-block;
    width: 50px;
    color:#4d4d4d;
}

#reportForm{
	margin:5px;
}
.report-submit {
    width: 100%;
    height: 56px;
    background: #3F66ED;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}
.error-color{
	color:red;
}