@charset "UTF-8";

#main_body{
	width:100%;
	min-height:300px;
}
.page-main{
	margin-top:30px;
}

.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
}
.align-left{
	text-align:left;
}

/*boardList 리스트*/

.board-main{
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top:10px;
	width:1160px;
	margin:0 auto;
}

.write-btn-container {
    text-align: right; /* 내용을 오른쪽으로 정렬합니다 */
    margin:10px 0;
    margin-left:auto;
}
.write-btn{
    align-self: flex-end; /* 자신을 오른쪽으로 정렬 */
    border:1px solid #8a8a8a;
    border-radius:5px;
    background-color:#fff;
    padding:3px 8px;
    cursor:pointer;
}
.write-btn:hover, .default-btn:hover, .default-btn1:hover, .default-btn2:hover, .chatBtn:hover{
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}
.default-btn{
	border:none;
	border-radius:5px;
	width:60px;
	height:28px;
    background-color:#3F66ED;
    color:#fff;
}
.default-btn1{/*버튼 복수. 여백*/
	border:none;
	border-radius:5px;
	width:60px;
	height:28px;
    background-color:#3F66ED;
    color:#fff;
    
    margin-right:10px;
}
.default-btn2{
	border:1px solid #3F66ED;
	border-radius:5px;
	width:60px;
	height:28px;
    background-color:#fff;
    color:#000;
}
.board-table{
	width:100%;
	margin:5px auto;
	border-collapse:collapse;
}
.types a {
	margin:0 30px 0 20px;
	color: #666;
	font-weight: normal;
	font-size:16px;
	text-decoration: none;
}
.types a.active {
	font-weight: bold;
	color: #000;
}
.board-table th, .board-table td {
	border-top: 1px solid #ccc; /* 위쪽 경계선 설정 */
	border-bottom: 1px solid #ccc; /* 아래쪽 경계선 설정 */
}
thead{
	height:45px;
}

.board-table div.search{
	display: flex;
	align-items: center;
	height: 100%;
}
#search_form{
    display: flex;
    align-items: center;
}
.search-input{
	border-top-left-radius: 10px; 
	border-bottom-left-radius: 10px;
	border:1px solid #c9c9c9;
	border-right:none;
	height:30px;
	padding-left:10px;
}
.search-button {
	padding:0 15px;
	font-size: 14px;
	background-color: #fff;
	color: white;
	border:1px solid #c9c9c9;
	cursor: pointer;
	background-image: url('../images/kbm/search.png');
	background-repeat: no-repeat;
	background-size: 60%;
	background-position: center 5px;
	
	border-top-right-radius: 10px; 
	border-bottom-right-radius: 10px;
	border-left:none;
	height:30px;
}
div.cell-content {
    position: relative;
    height: 80px; /* 필요에 따라 조정 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:0px 20px;
    padding:5px 0;
}
div.cell-content > div.likes, div.cell-content > div.writer{
	font-size:14px;
}

.title {
    align-self: flex-start;
}

.likes-container {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.likes span{
	margin:0 8px 0 1x;
	font-size:14px;
}

.writer {
    align-self: flex-start;
    display:flex;
    align-items:center;
}



/*boardWrite 글쓰기*/
.error-color{
	color:red;
}
#board_register, #board_modify{
	width:950px;
	margin:10px auto;

}
.ck-editor__editable_inline{
	min-height:350px;
}


.form-group {
	display: flex;
	align-items: flex-start;
	margin-bottom: 15px;
	flex-direction: column;
}
.category{
	display:flex;
	align-items:center;
	margin-bottom:10px;	
}
.category label {
	margin-right: 10px;

}
.custom-type{
	height:25px;

}
.custom-title{
	height:30px;
	width:400px;
}

.borderR{
	border-radius:5px;
	border:1px solid #c9c9c9;
}
.btn-container{
	margin-top:60px;
}
::placeholder {
    font-size: 14px;
}



/*boardView 글상세*/
.boardview-main{
	width:950px;
	margin:70px auto;
}
.boardview-main h3{
	margin:0 0 7px 10px;
	display:inline-block;
}
.flexbox-h{
	display:flex;
	flex-direction:row;
}

.flexbox-p{
	display:flex;
	flex-direction:column;
}
.side{
    justify-content:space-between;
    align-items:center;
    width:100%;
}

.boardview-main > div.flexbox-h > div{
	margin-right:10px;
}
.ml10{
	margin-left:10px;
}
.ml20{
	margin-left:20px;
}
.mt10{
	margin-top:10px;
}
.mt70{
	margin-top:70px;
}
hr{
	margin:5px 0;
}

input.chatBtn{
	border:none;
	background-color:var(--main-color-strong);
	color:#fff;
	border-radius:5px;
	height:24px;
}

.detail-content{
	width:80%;
	min-height:350px;
	margin:30px auto;
}
/*커뮤니티 업로드 이미지 중앙정렬*/
.image img{
	display: block;
	margin:0 auto;
	
}

#reply_div img{
	margin:0 20px 0 10px;
}
.board-info{
	margin-bottom:10px;
}

/*수정/삭제버튼*/
div.board-btn{
	display: flex;
	flex-direction:column;
	align-items:flex-end;	
	position: relative;
	/* display:inline-block;
	position:relative; */
	cursor:pointer;
}
span.board-cbtn{
	position:absolute;
	z-index:999;
	right:0;
	top:-5px;
}
ul.btn-hide {
    position: absolute;
    top: 25px;
    right: 0;
    z-index: 995;
    background-color: white;
    border: 1px solid #ccc;
    border-radius:5px;
    padding: 0;
    margin: 0;
    display: none;
    width:90px;
}
ul.btn-hide li {
    padding: 5px 10px;
    text-align:right;
}

ul.btn-hide li a:hover {
    color: #ccc;
}

.rep-content {
    resize: none;
    overflow-y: auto;
    width: 100%;
    max-width: 100%;
}
