@charset "UTF-8";

#main_body{
	width:100%;
}
.page-main{
	margin-top:30px;
}

.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
}
.align-left{
	text-align:left;
}

/*boardList 리스트*/

.board-main{
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top:10px;
	width:1160px;
	margin:0 auto;
}

.write-btn-container {
    text-align: right; /* 내용을 오른쪽으로 정렬합니다 */
    margin:10px 0;
    margin-left:auto;
}
.write-btn{
    align-self: flex-end; /* 자신을 오른쪽으로 정렬 */
    border:1px solid #8a8a8a;
    border-radius:5px;
    background-color:#fff;
    padding:3px 8px;
    cursor:pointer;
}
.write-btn:hover, .default-btn1:hover, .default-btn2:hover{
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}
.default-btn{
	border:none;
	border-radius:5px;
	width:60px;
	height:28px;
    background-color:#3F66ED;
    color:#fff;
}
.default-btn1{/*버튼 복수*/
	border:none;
	border-radius:5px;
	width:60px;
	height:28px;
    background-color:#3F66ED;
    color:#fff;
    
    margin-right:10px;
}
.default-btn2{
	border:1px solid #3F66ED;
	border-radius:5px;
	width:60px;
	height:28px;
    background-color:#fff;
    color:#000;
}
.board-table{
	width:100%;
	margin:5px auto;
	border-collapse:collapse;
}
.types a {
	margin:0 30px 0 20px;
	color: #666;
	font-weight: normal;
	font-size:16px;
	text-decoration: none;
}
.types a.active {
	font-weight: bold;
	color: #000;
}
.board-table th, .board-table td {
	border-top: 1px solid #ccc; /* 위쪽 경계선 설정 */
	border-bottom: 1px solid #ccc; /* 아래쪽 경계선 설정 */
}
thead{
	height:45px;
}

.board-table div.search{
	display: flex;
	align-items: center;
	height: 100%;
}
#search_form{
    display: flex;
    align-items: center;
}
.search-input{
	border-top-left-radius: 10px; 
	border-bottom-left-radius: 10px;
	border:1px solid #c9c9c9;
	border-right:none;
	height:30px;
	padding-left:10px;
}
.search-button {
	padding:0 15px;
	font-size: 14px;
	background-color: #fff;
	color: white;
	border:1px solid #c9c9c9;
	cursor: pointer;
	background-image: url('../images/kbm/search.png');
	background-repeat: no-repeat;
	background-size: 60%;
	background-position: center 5px;
	
	border-top-right-radius: 10px; 
	border-bottom-right-radius: 10px;
	border-left:none;
	height:30px;
}
div.cell-content {
    position: relative;
    height: 80px; /* 필요에 따라 조정 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:0px 20px;
    padding:5px 0;
}
div.cell-content > div.likes, div.cell-content > div.writer{
	font-size:14px;
}

.title {
    align-self: flex-start;
}

.likes {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.writer {
    align-self: flex-start;
}



/*boardWrite 글쓰기*/
.error-color{
	color:red;
}
#board_register{
	width:950px;
	margin:10px auto;

}
.ck-editor__editable_inline{
	min-height:350px;
}


.form-group {
	display: flex;
	align-items: flex-start;
	margin-bottom: 15px;
	flex-direction: column;
}
.category{
	display:flex;
	align-items:center;
	margin-bottom:10px;	
}
.category label {
	margin-right: 10px;

}
.custom-type{
	height:25px;

}
.custom-title{
	height:30px;
	width:400px;
}

.borderR{
	border-radius:5px;
	border:1px solid #c9c9c9;
}
#board_register div.align-center{
	margin-top:40px;
}
::placeholder {
    font-size: 14px;
}

/*boardView 글상세*/
.flexbox{
	
}


 /* .form-container {
        max-width: 600px;
        margin: 0 auto;
    }
    .form-container h1 {
        text-align: left;
        font-size: 24px;
        margin-bottom: 20px;
    }
    .form-group {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }
    .form-group label {
        margin-right: 10px;
        font-weight: bold;
    }
    .form-group select,
    .form-group input[type="text"],
    .form-group textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    .form-group textarea {
        resize: vertical;
        height: 200px;
    }
    .file-input-group {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    .file-input-group input[type="file"] {
        margin-left: 10px;
    }
    .form-buttons {
        text-align: center;
    }
    .form-buttons button {
        padding: 10px 20px;
        margin: 5px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: box-shadow 0.3s;
    }
    .form-buttons button.register {
        background-color: #007bff;
        color: white;
    }
    .form-buttons button.list {
        background-color: white;
        color: #007bff;
        border: 1px solid #007bff;
    }
    .form-buttons button:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    } */