#main_body {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.all-theater {
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.cinema-write {
    text-align: right;
    margin-bottom: 15px;
    font-size: 14px;
    color: #666;
}

.theater-box {
    padding: 30px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.theater-location {
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    font-weight: 600;
    align-items: center;
}

.theater-location a.button {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

.theater-location a.button:hover {
    background-color: #696969;
    color: #ffffff;
}

.theater-place {
    gap: 20px;
    padding: 20px;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
}

.result-display {
    margin-top: 50px;
    color: #999;
    font-size: 18px;
    text-align: center;
}

.place-list {
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
}

.branch-list {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.branch-list a.button {
    text-decoration: none;
    color: #333;
}

.branch-list:hover {
    transform: scale(1.05);
}

.cinema-write {
    margin-left: 1200px;
}

/* 이벤트 배너 */

.event_menu_all{
	margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.event_list {
    padding: 5px;
}

.theater-event {
font-weight: 800;
    font-size: 24px;
    color: #333;
}

.img_lst_wrap {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.btn_more {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.page-main {
    margin-top: 20px;
    width: 1160px;
    padding: 15px;
}

