.branch-title{
	text-align: center;
	font-weight: bold;
	font-size: 50px;
	margin-top: 70px;
}

.branch-info{
	margin-left: 200px;
}

.info-box{
	margin-top: 10px;
	margin-left: 200px;
	font-size: 20px;
	border-radius: 5px;
	background-color: #d3d3d3;
	color: #000000;
	padding: 40px 20px 40px 20px;
}

.branch-address{
	margin-left: 30px;
}

.branch-phone{
	margin-left: 30px;
}

.branch-theater{
	margin-left: 30px;
}

.branch-parkable{
	margin-left: 30px;
}

.branch-position{
	margin-top: 50px;
	margin-left: 200px;
}

.location-button{
	margin-top: 10px;
	margin-left: 200px;
	text-align: center;
	font-size: 20px;
	cursor: pointer;
}

.modal_content{
	margin-left: 200px;
}

.time-box{
	margin-top: 50px;
	margin-left: 200px;
}

.time-image{
	width: 100%;
	height: 200px;
}

.movie-image{
	width: 100%;
	height: 700px;
}

.admin-button{
	margin-top: 20px;
	margin-left: 200px;
}