

.all-theater{
	color: #6a5acd;
	margin-top: 70px;
	margin-left: 200px;
}

.cinema-write{
	text-align: right;
	margin-bottom: 5px;
}

.theater-box {
    display: block;
    width: 1100px;
    height: 250px;
    border: 4px solid #686571;
    border-radius: 10px;
    padding: 20px;
    margin-left: 160px;  
}

.theater-location{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

.theater-location ul {
    list-style: none; /* 리스트 스타일을 제거 */
    padding: 0; /* 패딩을 제거 */
}

.theater-location li {
   /*  gap: 20px; 아이템 사이의 간격 설정 */
    margin-bottom: 10px;
}

.theater-location a.button {
    text-decoration: none; /* 링크의 밑줄 제거 */
    padding: 15px 40px 15px 40px; /* 내부 패딩을 설정하여 클릭 영역 확대 */
    border-radius: 5px; /* 테두리 반경 설정 */
    color: #333; /* 글자 색상 설정 */
    width: 100px;
}

.theater-location a.button:hover {
    background-color: #696969; /* 호버 시 배경색 변경 */
    color: #ffffff;
}

.theater-place{
	margin-top: 20px;
	font-size: 20px;
	display: flex;
	flex-wrap: wrap;
}

.result-display{
	margin-top: 50px;
	margin-left: 350px;
}

.place-list{
	flex-direction: row; /* 가로 정렬 설정 */
}

.branch-list{
	padding: 10px 20px 10px 20px;
}

.branch-list a.button:hover{
	background-color: #696969; /* 호버 시 배경색 변경 */
	padding: 5px 5px 5px 5px;
    color: #ffffff;
    border-radius: 5px;
}

.cinema-write{
	margin-left: 1200px;
}


/* 이벤트 배너 */
.event_list {
    width: 1022px;
    padding: 5px;
}

.theater-event{
	color: #6a5acd;
	margin-top: 40px;
	margin-left: 200px;
}

.event_wrap {
    display: flex;
    flex-wrap: nowrap;
}

.img_lst_wrap {
	margin-left: 160px;
	display: flex; /* Flexbox를 사용하여 가로 정렬 */
    flex-direction: row; /* 가로 정렬 설정 */
    gap: 30px; /* 항목 사이의 간격 설정 */
}

.btn_more {
	margin-left: 1200px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}



/* 관람료 안내 */
.theater-pay{
	color: #6a5acd;
	margin-top: 40px;
	margin-left: 200px;
}

.pay-box{
	margin-left: 150px;
	display: flex;
}

.pay-container{
	flex-direction: row;
	flex-wrap: nowrap;
}

.twod{
	margin-top: 15px;
	font-size: 20px;
}

.pay-table{
	width: 100%;
    margin: 0;
    border: 0;
    border-top:  2px solid #000000;
    border-bottom:  2px solid #000000;
    table-layout: fixed;   
    text-align: center;
}

.pay-thead{
	border-right:  1px solid #dcdcdc;
	background-color: #d3d3d3;
	font-weight: bold;
}

.pay-tbody{
	border:  1px solid #dcdcdc;
}

.pay-image{
	width: 100%;
	height: 400px;
	margin-left: 100px;
}

.payment-image{
	width: 100%;
	height: 700px;
	margin-left: 100px;
}



/* 요금제 및 우대적용 */
.explain{
	margin-top: 40px;
	margin-left: 200px;
	color: #6a5acd;
}

.explain-box{
	margin-top: 10px;
	margin-left: 200px;
}

.bold-font{
	color: #008080;
}
