@charset "UTF-8";

.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
}
.align-left{
	text-align:left;
}

.flexbox-h{
	display:flex;
	flex-direction:row;
}

.flexbox-p{
	display:flex;
	flex-direction:column;
}
.side{
    justify-content:space-between;
    align-items:center;
    width:100%;
}

.event-menu {
	font-weight: 700;
	gap: 130px;
	display: flex;
	flex-direction: row;
	font-size: 16px;
	align-items: center;
}

.event-main {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 10px;
	width: 1160px;
	margin: 0 auto;
}

.page-main {
	margin-top: 30px;
}

.event {
	margin-top: 30px;
}

.event-menu-all {
	margin-top: 10px;
	width: 1160px;
	display: flex;
	flex-direction: row;
	border-top: 3px solid var(--gray-3);
	border-bottom: 1px solid var(--gray-3);
	padding: 7px;
	justify-content: space-between;
}

.event-type-btn {
	display: flex;
	flex-direction: row;
	gap: 25px;
}

.event_btn {
	cursor: pointer;
	font-weight: 500;
	font-size: 0.75em;
	border: none;
	border-radius: 5px;
	background-color: var(--main-color);
	padding: 10px 8px 10px 8px;
	font-weight: 500;
}

.event-list li a {
	display: block;
	width: 100%;
	height: 100%;
}

.event-img {
	width: 270px;
	height: 170px;
}

.event-img img {
	width: 270px;
	height: 170px;
}

.event-list-main {
	width: 1160px; padding-top : 25px;
	vertical-align: middle;
	padding-top: 25px;
}

.event-list-main .event-infos {
	width: 1160px;
	display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.event-list {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.event-list li {
    width: calc(25% - 20px); /* 4개씩 나열되도록 설정, margin 포함 */
    margin-right: 20px; /* 기본 margin-right 설정 */
    margin-bottom: 15px !important; /* 아래쪽 여백 설정 */
	background: #fff;
	margin-bottom: 50px

}

/* .event-list li {
	width: 25%;
	
} */

.event-list li .event-title {
	width: 270px;
	/* display: flex; */
	min-height: 90px;
	padding-bottom: 15px;
	border: 1px solid #dddfe2;
	border-top: 0;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 7px;
	display:inline-block;
}

.event-dday {
	margin-left: 5px;
	color: red;
	font-size: 13px;
}

.evnt-date {
	font-size: 13px;
}

.event-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.event-list li.no-margin {
    margin-right: 0; /* 4번째마다 margin-right 없앰 */
}

button#load-more{
	width: 100%;
	height: 50px;
	text-align: center;
	background-color: #f8f8f8;
	margin: 20px 0 0 0;
	border:1px solid #d4d4d4;
}

.event-info-main{
	margin:20px 0 ;
}
.event-info-main img{
	width:1160px;
}


input#event_participate_btn{
	border:none;
	background-color:var(--main-color-strong);
	color:#fff;
	border-radius:5px;
	width:150px;
	height:60px;
	font-size:17px;
	cursor:pointer;
}

.participate-btn-container{
	margin:50px 0 15px 0;
}
.participated{
	background-color:#969696 !important;
	cursor:none;
}
.list-btn{
	border:none;
	background:none;
	font-size:16px;
	padding-left:2px;
	cursor:pointer;
}
.list-btn-container{
	display:flex;
	align-items:center;
	justify-content: flex-end;
	margin:5px 0 ;
	cursor:pointer;
}
.event-detail-container{
	height:60px;
	padding:0 10px;
}
.event-type{
	color:#2275a4 !important;
	margin-right:10px;
}