@charset "UTF-8";

* {
    box-sizing: border-box;
    margin : 0;
}

body {
    line-height: 1.6;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.site-header {
    background-color: #F3F3F3;
}

.site-header .logo {
    float: left;
}

.site-header .logo a {
    color: #fff;
    text-decoration: none;
}



.site-header .main-navigation {
    float: right;
}

.main-navigation-ul{
    list-style-type: none;
}

.main-navigation-li {
    display: inline-block;
}

.main-navigation-li .main-navigation-a {
    font-weight: 600;
    color: #000;
    text-decoration: none;
    font-size: 10px;
    transition: all 0.3s ease;
    padding: 5px;
}


/* 하단 헤더 */
.secondary-header {
    padding: 10px 0;
    border-bottom: 1.5px solid #706FA2;
}

.secondary-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.secondary-header .logo {
    font-size: 20px;
}


.secondary-header .secondary-li {
    display: inline-block;
    margin-left: 20px;
}

.secondary-header .main-navigation ul li:first-child {
    margin-left: 0;
}

.secondary-li .secondary-a {
    font-weight: 700;
    color: #000;
    text-decoration: none;
    font-size: 14.5px;
    transition: all 0.3s ease;
    padding: 8px;
}
.secondary-li .secondary-a:hover {
    color: #555;
}


.secondary-header .user-menu {
    margin-right: 20px;
}

.secondary-header .user-menu-a {
    font-weight: 600;
    color: #000;
    text-decoration: none;
    font-size: 12.5px;
    margin-left: 15px;
}

.user-menu .user-menu-a:hover {
    color: #555;
}

#nav {
    width: 980px;
    margin: 3px auto 0;
    text-align: center;
}

ul, ol {
    list-style: none;
}

.main-navigation-li, .secondary-li {
    display: inline-block;
    vertical-align: top;
}

.main-navigation-a, .secondary-a {
    display: block;
    position: relative;
    height: 25px;
    /*line-height: 40px;*/
    padding: 0 24px;
    font-size: 14px;
    letter-spacing: 0.1em;
    white-space: nowrap;
    color: #fff;
    font-weight: bold;
}

.main-navigation-li .main-navigation-a:hover {
    color: var(--main-color-strong);
}


.secondary-ul > .secondary-li > .hide_menu {
	margin-top: 39px;
    display: none; 
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #F8F8F8;
}

.hide_menu > .hide_menu_ul {
    display: flex;
    justify-content: center;
    padding: 0;
}

.hide_menu_ul > .hide_menu_li {
    margin: 0 10px;
    display: inline-block;
    margin-left: 20px;
}

.hide_menu_ul > .hide_menu_li > .hide-menu-a {
	font-size: 12px !important;
    display: block;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    transition: all 0.3s ease;
    padding: 8px;
}

.user-menu {
	width: 150px;
}
