@charset "UTF-8";

.membership-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.membership-title {
	width: 1160px;
	padding: 20px 0 10px;
	margin-bottom: 10px;
	font-size: 24px;
	border-bottom: 1px solid #eee;
}

.vip_top_infor {
	display: flex;
	overflow: hidden;
	position: relative;
	margin: 0 auto 50px;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
	background-color: #FFF;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.vip_top_infor .nomem_page_box {
	margin: 40px 38px 62px;
}

.vip_top_infor .nomem_page_box .user_info .bx_con {
	margin-bottom: 20px;
	text-align: center;
}

.user_info {
	display: flex;
	width: 1160px;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

a.btn_lnk2 {
	border-bottom: 1px solid #666;
	font-size: 12px;
	color: #666;
	vertical-align: middle;
}

a, a:link, a:visited, a:active, a:hover {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.vip_top_infor .nomem_page_box .user_info .bx_con .txt {
	line-height: 1.4;
	margin-bottom: 10px;
	font-size: 18px;
	color: #666;
}

.btn_col3 {
	display: inline-block;
	box-sizing: border-box;
	border-radius: 4px;
	border: 1px solid #000000;
	font-size: 14px;
	color: #000000 !important;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	height: 28px;
	line-height: 26px;
	padding: 0 14px;
	border-radius: 52px;
}

.bx_btm {
	display: flex;
	gap: 70px;
	align-items: center;
	justify-content: center;
}

.membership-rows {
	padding: 0px;
}

.rank_2020_wrap .rank_2020_list_ty2 {
	position: relative;
	margin-top: 20px;
	border-top: 1px solid #bbb;
}

.rank_2020_wrap .rank_2020_list_ty2::before {
	content: '';
	position: absolute;
	left: 0;
	top: 79px;
	width: 100%;
	height: 1px;
	background-color: #bbb;
}

.rank_2020_wrap .rank_2020_list_ty2::after {
	display: block;
	content: '';
	clear: both;
}

.rank_2020_wrap .rank_2020_list_ty2 dl {
	float: left;
	width: 20%;
	text-align: center;
}

.rank_2020_wrap .rank_2020_list_ty2 dl.tit {
	width: 20%;
}

.rank_2020_wrap .rank_2020_list_ty2 dl dt {
	margin-bottom: 16px;
	padding-top: 40px;
}

.rank_2020_wrap .rank_2020_list_ty2 dl dd {
	padding: 28px 0;
	font-size: 15px;
	border-bottom: 1px solid #eee;
}

.benefit_wrap {
	margin-top: 60px;
}

.benefit_wrap>.tit {
	font-size: 18px;
}

.benefit_wrap .benefit_box_ty2 {
	margin-top: 60px;
}

.benefit_wrap .benefit_box_ty2.type2>li {
	padding: 56px 18px 10px;
}

.benefit_wrap .benefit_box_ty2>li {
	margin-left: 20px;
	position: relative;
	float: left;
	padding: 56px 25px 30px;
	width: 250px;
	font-size: 12px;
	border-radius: 4px;
	border: 1px solid #ddd;
	background-color: #f8f8f8;
	box-sizing: border-box;
}

.ic_rank_vip, .ic_rank_vvip, .ic_rank_gold, .ic_rank_platinum {
	box-shadow: 0px 5px 10px 3px #e6e6e6;
}

[class^="ic_rank_"] {
	position: absolute;
	left: 50%;
	top: -40px;
	margin-left: -40px;
	padding-top: 45px;
	width: 80px;
	height: 80px;
	text-align: center;
	border-radius: 80px;
	border: 1px solid #999;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.benefit_wrap .benefit_box_ty2.type2 .listbox {
	position: relative;
	margin-top: 30px;
	border-radius: 5px;
	box-sizing: border-box;
}

.benefit_wrap .benefit_box_ty2.type2 .benefit .gap_or {
	padding-top: 8px;
	margin-bottom: -12px;
	color: #333;
	font-size: 11px;
	text-align: center;
}

.benefit_wrap .benefit_box_ty2.type2 .benefit+.benefit {
	margin-top: 24px;
}

.benefit_wrap .benefit_box_ty2>li ~ li {
	margin-left: 55px;
}

.benefit_wrap .benefit_box_ty2.type2 .benefit .list span em {
	color: #FF7787;
}

.benefit_wrap .benefit_box_ty2 .benefit .list span em {
	font-size: 18px;
	font-family: "Roboto";
}

.benefit_wrap .benefit_box_ty2 .benefit .list span::before {
	content: '';
	position: absolute;
	right: 35px;
	top: 7px;
	width: 11px;
	height: 11px;
	background: url(../images/cmj/cross.png) no-repeat;
}

.benefit_wrap .benefit_box_ty2 .benefit .list span {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 13px;
}

.benefit_wrap .benefit_box_ty2 .benefit .list li {
	position: relative;
	line-height: 25px;
}

em, th {
	font-style: normal;
	font-weight: normal;
}

ul {
	padding: 0;
}

.ic_2024_basic {
	background-size: 20px;
	background-image: url(../images/cmj/basic.png);
	background-position: center 20px;
	background-repeat: no-repeat;
}
.ic_2024_member {
	background-size: 20px;
	background-image: url(../images/cmj/member.png);
	background-position: center 20px;
	background-repeat: no-repeat;
}
.ic_2024_regular {
	background-size: 20px;
	background-image: url(../images/cmj/regular.png);
	background-position: center 20px;
	background-repeat: no-repeat;
}
.ic_2024_vip {
	background-size: 20px;
	background-image: url(../images/cmj/vip.png);
	background-position: center 20px;
	background-repeat: no-repeat;
}
.ic_2024_vvip {
	background-size: 20px;
	background-image: url(../images/cmj/vvip.png);
	background-position: center 20px;
	background-repeat: no-repeat;
}


.ic_rank_member {
	background-color: #fff;
	position: absolute;
	left: 50%;
	top: -40px;
	margin-left: -40px;
	padding-top: 45px;
	width: 80px;
	height: 80px;
	text-align: center;
	border-radius: 80px;
	border: 1px solid #999;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-shadow: 0px 5px 10px 3px #e6e6e6;
	background-size: 20px;
	background-image: url(../images/cmj/member.png);
	background-position: center 20px;
	background-repeat: no-repeat;
}

.ic_rank_regular {
	background-color: #fff;
	position: absolute;
	left: 50%;
	top: -40px;
	margin-left: -40px;
	padding-top: 45px;
	width: 80px;
	height: 80px;
	text-align: center;
	border-radius: 80px;
	border: 1px solid #999;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-shadow: 0px 5px 10px 3px #e6e6e6;
		background-size: 20px;
	background-image: url(../images/cmj/regular.png);
	background-position: center 20px;
	background-repeat: no-repeat;
}

.ic_rank_vip {
	background-color: #fff;
	position: absolute;
	left: 50%;
	top: -40px;
	margin-left: -40px;
	padding-top: 45px;
	width: 80px;
	height: 80px;
	text-align: center;
	border-radius: 80px;
	border: 1px solid #999;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-shadow: 0px 5px 10px 3px #e6e6e6;	
	background-size: 20px;
	background-image: url(../images/cmj/vip.png);
	background-position: center 20px;
	background-repeat: no-repeat;
}

.ic_rank_vvip {
	background-color: #fff;
	position: absolute;
	left: 50%;
	top: -40px;
	margin-left: -40px;
	padding-top: 45px;
	width: 80px;
	height: 80px;
	text-align: center;
	border-radius: 80px;
	border: 1px solid #999;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-shadow: 0px 5px 10px 3px #e6e6e6;
		background-size: 20px;
	background-image: url(../images/cmj/vvip.png);
	background-position: center 20px;
	background-repeat: no-repeat;
}

.vip_top_infor .mypage_box {
	    position: relative;
    float: none;
    padding: 0 162px;
    width: auto;
    height: auto;
    min-height: inherit;
    margin-bottom: 40px;
}

.my_info .name strong {
       font-size: 1.05em;
    margin-right: 5px;
}

.vip_top_infor .mypage_box .my_info .name [class*="txt_rank"] {
    margin-top: 1px;
    padding: 0 10px;
}
.vip_top_infor .mypage_box .my_info .name span {
    vertical-align: middle;
}
.txt_rank_common {
    background-color: #AFAFAF;
}
[class*="txt_rank"] {
display: flex;
    padding: 0 10px;
    min-width: 48px;
    height: 22px;
    color: #fff;
    line-height: 22px;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    border-radius: 25px;
    border: 1px solid #fff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    align-items: center;
}

.my_info .name {
    width: 830px;
    display: flex;
    align-items: center;
        margin-bottom: 30px;
    font-size: 18px;
}

.my_info .next_rank {
    position: relative;
    min-height: 25px;
    line-height: 25px;
    padding: 10px 0;
    text-align: center;
}

.my_info .next_rank > p {
    display: inline-block;
    color: #000;
    font-size: 18px;
}


.my_info .next_rank > p em {
    margin-left: 4px;
    color: #000;
    font-size: 18px;
    font-weight: 600;
}

.vip_top_infor .mypage_box .my_info {
    padding: 37px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.my_info {
    position: relative;
    padding: 25px 30px 0 30px;
}
.my-photo {
	margin-right: 20px;
    border-radius: 50%;
}

progress {
width: 800px;
    height: 5px;
    color: var(--main-color);
    -webkit-appearance: none;
    appearance: none;
}
progress::-webkit-progress-bar {
   background-color: var(--gray-2);
}
progress::-webkit-progress-value {
   background-color: var(--main-color-strong);
}

.rank_progress {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
}

.font_roboto {
    font-weight: 600;
    font-size: 1.1em;
}

.remain_points > p > em {
 	font-size: 1.05em;
    font-weight: 600;
}
