
.reserve-container {
	margin-top: 140px;
	display: flex;
	justify-content: center;
	height: 800px;
}

.reserve-container>div {
	border: 1px solid #dddddd;
}

.reserve-title {
	border-bottom: 1px solid #dddddd;
	background-color: #444444;
	text-align: center;
	color: #dddddd;
	padding: 5px;
	font-size: 15px;
	font-weight: bold;
}


/* 지점명 */
.theater-part {
    display: flex;
    flex-direction: column; /* 세로 정렬 */
}

.theater-container {
    display: flex;
}

.theater-wrapper {
    display: flex;
    flex-direction: column; /* 세로 정렬 */
}

.theater-location-wrapper {
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    padding: 0;
    list-style: none;
    margin-top: 10px;
}

.theater-location-wrapper .button {
    margin: 5px 0;
    padding: 10px;
    background-color: #f0f0f0;
    text-decoration: none;
    color: #333;
    
    transition: background-color 0.3s ease;
}

.theater-location-wrapper .button:hover {
    background-color: #e0e0e0;
}

.location {
    display: none;
    flex-direction: column; /* 세로 정렬 */
    margin-top: 9px;
    max-height: 730px; /* 적절한 높이 설정 */
    overflow-y: auto;
}

.theater-place-wrapper {
    list-style: none;
    padding: 0; 
}

.theater-place-wrapper .button {
    display: block;
    padding: 10px;
    background-color: #f0f0f0;
    text-decoration: none;
    color: #333;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.theater-place-wrapper .button:hover {
    background-color: #e0e0e0;
}

.theater-location-active .button {
    background-color: #333;
    color: white;
}

.theater-place-active .button {
    background-color: #333;
    color: white;
}

.theater-place{
	border-bottom: 1px solid #dddddd;
}

/* 영화 */
.movie-part {
	width: 300px;
}

.sort-wrapper {
	padding: 10px 6px 6px 10px;
	display: flex;
	border-bottom: 1px solid #dddddd;
}

.sort-wrapper>div {
    cursor: pointer;
    padding: 3px;
    font-size: 14px;
}

.sort-wrapper>div:hover {
	border-bottom: 1px solid #111111;
}

.sort-selected {
	font-weight: bold;
	border-bottom: 1px solid #111111;
}

.sort-korean {
	margin-left: 6px;
}

.movie-list {
	display: flex;
    align-items: center;
    /* margin-top: 10px; */
    font-size: 20px;
    /* margin-top: 5px;*/
}

.movie-select {
	width: 100%;
	padding: 0;
	text-align: center;
}

.select {
	font-size: 14px;
	display: flex;
    padding: 14px;
    border-bottom: 1px solid var(--gray-3);
    /* background-color: #E6E4D9; */
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    align-items: center;
    font-weight: 600;
}

.select a {
	/* font-size: 20px; */
}

/* 날짜 및 시간 */
.time-part {
	width: 400px;
}

.reserve-time {
	width: 395px;
	
}

.cinema-gallery {
	width: 100%;
	margin-left: 2px;
	margin-top: 20px;
    margin-right: 100px;
    display: flex;
    flex-direction: row; /* 가로 방향으로 나열 */
    flex-wrap: nowrap; /* 줄 바꿈 없이 한 줄에 표시 */
    overflow-x: auto; /* 넘치는 요소들을 가로 스크롤로 표시 */
    webkit-overflow-scrolling: touch; /* iOS에서의 스크롤 부드러움 적용 */
    border-bottom: 1px solid #dddddd;
}

.movie-day,
.movie-day-sat,
.movie-day-sun {  	
    width: 50px;
    margin: 0 5px; /* 간격을 줌 */
    cursor: pointer;
    color: #080808; /* 기본 텍스트 색상 설정 */
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    white-space: normal; /* 줄 바꿈을 허용 */
    cursor: pointer;
}


.movie-day-sat {
    color: #6e9adb; /* 주말 색상 설정 */
}

.movie-day-sun {
    color: #e83431; /* 주말 색상 설정 */
}

.movie-day:hover {
    background-color: #e0e0e0; /* hover 시 배경색 */
    color: #333; /* hover 시 텍스트 색상 */
}

.movie-day-sat:hover {
    background-color: #e0e0e0; /* hover 시 배경색 */
}

.movie-day-sun:hover {
    background-color: #e0e0e0; /* hover 시 배경색 */
}


.movie-day-selected {
    background-color: #333333; /* 선택된 날짜 배경색 */
    color: white; /* 선택된 날짜 텍스트 색상 */
}


.reserve-time-wrapper {
	margin-top: 10px;
	display: flex; 
    flex-wrap: wrap; /* 버튼들이 줄바꿈될 수 있도록 설정 */
    gap: 20px; /* 버튼들 사이의 간격 설정 */
}

/* .movietime-select {
	margin-top: 10px;
	flex: 1; 버튼들이 동일한 너비를 가짐
    padding: 10px; 버튼 내부 패딩
    border: 1px solid #ccc; 버튼 테두리
    background-color: #fff; 버튼 배경색
    cursor: pointer; 마우스 커서를 포인터로 변경
    text-align: center;
    border-radius: 10px;
    background-color: var(--main-color-light);
} */
 
.movietime-select:hover {
    background-color: #f0f0f0; /* 마우스 오버 시 배경 색상 변경 */
}

.reserve-time-want {
	letter-spacing: 1px;
	padding: 3px;
	font-weight: bold;
}

.reserve-time-want {
	letter-spacing: 1px;
	padding: 3px;
	font-weight: bold;
}

.reserve-time-remain{
	font-size: 11px;
}

.reserve-time-active {
	background-color: #333333;
	color: white;
}

.theater-place-active {
	background-color: #333333;
	color: white;
}

.ic_grade {
    display: inline-block;
    width: 22px;
    height: 22px;
    line-height: 22px;
    border-radius: 50%;
    font-size: 0;
    text-align: center;
    vertical-align: middle;
    margin-right: 5px;
    font-weight: bold;
}

.ic_grade:before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 3px;
    background-size: 100%;
}

.ic_grade.gr_all:before {
    background: #229c56 url(../images/cmj/grade_all.png) 0 0 no-repeat;
}

.ic_grade.gr_12:before {
    background: #e9b630 url(../images/cmj/grade_12.png) 0 0 no-repeat;
}

.ic_grade.gr_15:before {
    background: #dd7430 url(../images/cmj/grade_15.png) 0 0 no-repeat;
}

.ic_grade.gr_19:before {
    background: #CD1327 url(../images/cmj/pc_grade_19.png) 0 0 no-repeat;
}

.moveSeatButton {
	width: 150px;
	height: 80px;
	font-size: 18px;
	font-weight: bold;
	padding: 5px;
	margin-top: 150px;
	margin-left: 200px;
	border: 1px solid #333333;
	border-radius: 15px;
	background: #3F66ED;
	color: #FFFFFF;
}

.moveSeatButton:hover {
	background-color: #333333;
	color: white;
}

.fifteen {
	color: white;
	background-color: #AF2D2D;
}

.eighteen {
	color: white;
	background-color: red;
	font-size: 11px;
}

.seat-select-button{
	align-items: center;
}





/* 보류 


.movie-list-title {
    padding: 6px 4px;
    margin-left: 5px;
    font-size: 12px;
}

.movie-list-title-active {
    background-color: #333333;
}

.movie-list-title-active>button {
    font-weight: bold;
    color: white;
}



.movie-list-age {
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    border-radius: 100%;
}



*/