#main_body {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%; /* 화면 크기에 맞추기 */
}

#main_content {
	display: flex;
	flex-direction: row;
	width: 100%; /* 화면 크기에 맞추기 */
	max-width: 1500px;
}

.movie-page {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1500px;
	overflow-x: hidden;
	align-items: center;
}

.movie-main {
	width: 1100px;
}


.search-container {
	display: flex;
	flex-direction: column;
}

input[type="search"] {
	width: 200px;
	height: 30px;
	padding: 10px;
	font-size: 14px;
	background-color: #EBE9E9;
	border: none;
	border-radius: 10px 0px 0px 10px;
	color: #8D8D8D;
	outline: none;
}

input[type="search"]:focus {
	outline: none;
}

input[type="submit"] {
	border-radius: 0px 10px 10px 0px;
	margin-left: -4px;
	background-color: #EBE9E9;
	width: 30px;
	height: 30px;
	border: none;
	cursor: pointer;
	background-image: url(../images/search_icon.png);
	background-size: 15px;
	background-repeat: no-repeat;
	background-position: center;
	outline: none;
}

input[type="submit"]:focus {
	outline: none;
}

input[type="search"]::placeholder {
	color: #8D8D8D;
	font-weight: 500;
}

.movie-list-title {
	display: flex;
	justify-content: space-between;
}

.select-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.select-list-checkbox {
	gap: 40px;
	display: flex;
	justify-content: flex-end;
}

.select-wrapper select {
    margin-right: 10px;
    padding: 5px;
    font-size: 12px;
    border: 1px solid #3D3D3D;
    background-color: #fff;
    border-radius: 10px;
    color: #3D3D3D;
    height: 30px;
}

.movie-list-page {
	display: flex;
	width: 90%;
	overflow-x: hidden;
}

.movie-list {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 100%;
}

.movie {
text-align: center;
    display: flex;
    width: calc(25% - 10px);
    margin: 20px 5px 30px 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.movie img {
	width: 213px;
	height: 305px;
}

#loadMoreButton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 40px;
	margin-bottom: 30px;
	background-color: white;
	cursor: pointer;
}

.bookAopen {
	margin-bottom: 5px;
	font-size: 12px;
	width: 225px;
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	justify-content: space-evenly;
}

.movie-button {
	width: 170px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.movie-fav-button-detail {
	display: flex;
	border-radius: 5px;
	background: white;
	font-size: 10px;
	padding: 1px 15px;
	cursor: pointer;
	border: 1px solid gray;
	justify-content: center;
	align-items: center;
}

.movie-fav-button i {
	margin-right: 5px; /* 아이콘 오른쪽 여백 */
}

.movie-reservation-button-list {
	border-radius: 5px;
	background: #3F66ED;
	color: white;
	font-size: 10px;
	padding: 2px 15px;
	cursor: pointer;
	height: 20px; /* 높이 설정 */
}

.genre-checkboxes {
	display: flex;
	padding-bottom: 10px;
	flex-direction: row;
	justify-content: space-between;
}

.movie {
	position: relative;
}

.overlay {
	height: 305px;
	width: 213px;
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 42%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	opacity: 0;
	transition: opacity 0.3s ease;
	justify-content: center;
}

.overlay button {
	width: 95px;
	font-weight: 600;
	font-size: 12px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 8px;
	margin: 6px;
	cursor: pointer;
}

.movie:hover .overlay {
	opacity: 1;
}

.li-search {
	display: flex;
}

.movie_name{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie_name_list{
    margin-top: 10px;
    align-self: center;
    align-items: center;
    text-align: center;
    width: 185px;
    display: flex;
    justify-content: center;
}

.movie_list_grade{
    width: 180px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie_list_gn{
    padding: 5px;
    color: #000;
    display: flex;
    align-items: center;
    font-size: 13px;
    flex-direction: row;
    justify-content: center;
}
.ul-search {
	padding:0;
}

.ic_grade {
	display: inline-block;
	width: 22px;
	height: 22px;
	line-height: 22px;
	border-radius: 50%;
	font-size: 0;
	text-align: center;
	vertical-align: middle;
	margin-right: 5px;
	font-weight: bold;
}

.ic_grade:before {
	content: "";
	display: block;
	width: 22px;
	height: 22px;
	border-radius: 3px;
	background-size: 100%;
}

.ic_grade.gr_all:before {
	background: #229c56 url(../images/cmj/grade_all.png) 0 0 no-repeat;
}

.ic_grade.gr_12:before {
	background: #e9b630 url(../images/cmj/grade_12.png) 0 0 no-repeat;
}

.ic_grade.gr_15:before {
	background: #dd7430 url(../images/cmj/grade_15.png) 0 0 no-repeat;
}

.ic_grade.gr_19:before {
	background: #CD1327 url(../images/cmj/pc_grade_19.png) 0 0 no-repeat;
}