@charset "UTF-8";

#main_body {
	display: flex;
	justify-content: center;
}

.movie_details_all {
	display: flex;
	width: 1100px;
	justify-content: center;
	align-items: center;
}

.detail_main {
	display: flex;
	flex-direction: column;
}

.movie-container {
	margin-top: 50px;
	display: flex;
	/* align-items: flex-start;*/
}
.movie-photo {
	
/*     flex: 0 0 calc(30% - 20px); 사진 너비를 계산하고 오른쪽 여백 고려
    margin-right: 20px;
 */
}

.movie-photo img {
    width: 300px;
    /* height: 468px;*/
}

.movie-details {
    gap: 13px;
    display: flex;
    padding-top: 85px;
    padding-left: 115px;
    flex-direction: column;
}

.movie-title-screening {
    display: flex;
    align-items: center;
    gap: 35px;
}

.movie-title {
	/* margin-right: 10px; */
	font-size: 26px;
	font-weight: 700;
}

.movie-screening {
	font-weight: 800;
	height: 30px;
	display: flex;
	font-size: 12px;
	color: #ff5151;
	border: 1px solid #ff5151;
	padding: 4px 10px;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
}

.movie-infolist {
    gap: 30px;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.movie-content {
	/*     margin: 0; 여백 제거
    padding: 0; 패딩 제거
    display: flex; 컨텐츠를 중앙에 배치
    justify-content: center; 가로 중앙 정렬
    align-items: center; 세로 중앙 정렬
    width: 100%; 너비를 100%로 설정
    position: relative; 상대 위치 설정
    padding-top: 56.25%; 16:9 비율을 유지하기 위해 패딩 설정
    overflow: hidden; 넘치는 부분 숨기기 */
	
}

.movie-reservation {
    font-weight: 600;
    display: flex;
    border-radius: 20px;
    background: #FF5151;
    color: white;
    width: 110px;
    height: 33px;
    font-size: 14px;
    padding: 10px 20px;
    /* text-align: center; */
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.detail-menu {
	margin-top: 30px;
	text-align: center;
}

.detail-menu span {
	margin: 0 70px;
	cursor: pointer;
}

.menu-hr {
	margin: 20px auto;
}

.star img {
	width: 30px; /* 이미지의 너비를 작게 설정 */
	height: 30px; /* 이미지의 높이를 작게 설정 */
}

.grade-review {
	margin-top: 30px;
}

/* .review-choice{
	color:gray;
}

#review-text {
	width: 100%;
	max-width: 400px;
	margin: 10px auto;
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

#review-text:focus {
	outline: none;
	border-color: #FF5151;
} */
.review-sort {
gap: 10px;
    display: flex;
    margin-top: 10px;
    /* text-align: left; */
    margin-bottom: 10px;
    flex-direction: row;
    align-items: center;
}

.sort-option {
    font-size: 14px;
    cursor: pointer;
    color: gray;
    text-decoration: none;
}

.sort-option.active {
font-size: 14px;
    font-weight: 800;
    color: var(--main-color-strong);
}

.movie-teaser {
	text-align: center;
}

.grade-review {
	    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

/* .menu-title {
	width: 100%;
	background-color: #e6e6e6;
	padding: 10px;
	margin-bottom: 30px;
	margin-top: 40px;
} */

.movie-teaser {
	width: 100%;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 비율을 유지하기 위한 패딩 */
	height: 0;
}

.movie-teaser iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#review_div {
	margin-top: 20px;
}

.review-content {
	width: 100%;
	padding: 10px;
	font-size: 14px;
	border: 1px solid #ccc;
	border-radius: 5px;
	resize: none; /* 사용자가 크기 조절을 못하게 함 */
}

#review_first {
width: 1100px;
    /* gap: 100px; */
    display: flex;
    font-size: 12px;
    color: #888;
    justify-content: space-between;
}

.letter-count {
	font-weight: bold;
}

/* #review_second {
	margin-top: 10px;
	text-align: right;
}
 */
.btn-submit {
	background-color: #f0ad4e;
	color: #fff;
	padding: 8px 16px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.btn-submit:hover {
	background-color: #ec971f;
}

/* #review_second {
	margin-top: 10px;
} */

.review-button {
	display: flex;
    border-radius: 10px;
    background: black;
    /* color: white; */
    width: 75px;
    /* height: 30px; */
    /* font-size: 9px; */
    /* padding: 5px 30px; */
    cursor: pointer;
    /* margin-left: auto; */
    align-items: center;
    justify-content: center;
    }

.review-menu {
	text-align: left;
	margin-top: 20px;
}

.review_submit {
	    padding: 7px 7px;
    border: none;
    background: transparent;
    color: #fff;
	
}

.output_reiv {
    width: 17px;
    height: 17px;
}

.spoiler {
	margin-top: 5px;
    position: relative;
}

.spoiler-content {
	filter: blur(5px);
}

.show-spoiler {
    background-color: var(--gray-1);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
}

.show-spoiler::after {
font-size: 12px;
    font-weight: 600;
    content: "스포일러가 포함된 리뷰입니다. 스포일러 방지 필터를 해제하시려면 클릭해주세요.";
    display: block;
    color: var(--red-check-btn);
    
    }

.my-photo {
    border-radius: 50px;
}

.user_profile_image {
	margin-right: 10px;
}

.user_idOrname {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.user_re_day {
color: var(--gray-5);
    /* height: 20px; */
    display: flex;
    /* text-align: right; */
    /* white-space: nowrap; */
    align-items: center;
    font-size: 12px;
    font-weight: 500;
}

.mr-modify-date {
	color: #888;
	font-size: 0.9em;
}

.sub-item {
	position: relative;
}

/* .output_reiv, .output_rvcount {
	display: inline-flex;
	align-items: center;
} */

/* .output_rvcount {
	position: absolute;
	bottom: 0;
	right: 0;
} */

/* .output_reiv {
	position: absolute;
	bottom: 0;
	right: 40px; output_rvcount의 위치에 따라 조정
}
 */

.spoiler-content ,.mr-review-content {
	    font-weight: 500;
    font-size: 13px;
    padding: 7px 0px 5px 5px;
}

#output_mrcount {
    font-size: 17px;
    font-weight: 900;
}

#output_fav {
	width: 16px; /* 원하는 너비로 설정 */
	height: 16px; /* 원하는 높이로 설정 */
}

.movie-fav-button-detail {
    width: 85px;
    gap: 5px;
    display: flex;
    border-radius: 20px;
    /* background: white; */
    color: var(--gray-6);
    font-size: 14px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 5px;
    border: 1px solid var(--gray-6);
    height: 33px;
    align-items: center;
    justify-content: center;
}


.movie_rating{
font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.movie_runtime {
	display: flex;
    align-items: center;
    justify-content: center;
}

.movie_opendate span , .movie_runtime span {
	font-weight: 700;
}

.movie-info {
font-size: 20px;
    display: flex;
    /* width: 400px; */
    gap: 40px;
}

.icon_clock_black {
        display: inline-block;
    width: 20px;
    height: 20px;
    background: url(https://www.lottecinema.co.kr/NLCHS/Content/images/icon/icon_clock_black.svg) 0 0 no-repeat;
    margin-right: 3px;
    transform: translateY(1px);
}

.movie-info-list li {
	padding-bottom : 3px;
}


.ic_grade {
	display: inline-block;
	width: 22px;
	height: 22px;
	line-height: 22px;
	border-radius: 50%;
	font-size: 0;
	text-align: center;
	vertical-align: middle;
	margin-right: 5px;
	font-weight: bold;
}

.ic_grade:before {
	content: "";
	display: block;
	width: 22px;
	height: 22px;
	border-radius: 3px;
	background-size: 100%;
}

.ic_grade.gr_all:before {
	background: #229c56 url(../images/cmj/grade_all.png) 0 0 no-repeat;
}

.ic_grade.gr_12:before {
	background: #e9b630 url(../images/cmj/grade_12.png) 0 0 no-repeat;
}

.ic_grade.gr_15:before {
	background: #dd7430 url(../images/cmj/grade_15.png) 0 0 no-repeat;
}

.ic_grade.gr_19:before {
	background: #CD1327 url(../images/cmj/pc_grade_19.png) 0 0 no-repeat;
}

.rate_info {
	font-size: 12px;
	color: #fff;
	margin-right: 10px;
}

.movie-info-list{
	padding:0;
}

html {
    scroll-behavior: smooth;
}

.detail-menu {
	display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color: var(--gray-1);
    border-bottom: 1px solid var(--gray-2);
}

.detail-menu a {
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

.menu-title {
    font-size: 1.2em;
    margin: 20px 0;
    font-weight: bold;
}

.movie-content img {
    height: auto;
    width: 217px;
}

#scroll-to-top {
    position: fixed;
    bottom: 60px;
    right: 130px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: opacity 0.3s;
}

#scroll-to-top img {
    width: 30px;
    height: 30px;
}

#mr_form {
gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.item {
	    padding: 15px;
    font-size: 12px;
    border: none;
    background: var(--gray-1);
    border-radius: 20px;
}

.rating {
	height: 15px;
    padding: 0px 0px 0px 35px;
}

.detail-info {
padding: 0px 0px 4px 0px;
    height: 30px;
    display: flex;
}

#output {
	    gap: 20px;
    display: flex;
    flex-direction: column;
}

.review_fav{
    gap: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.review_last {
    margin-top: 5px;
    height: 23px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.delete-review{
gap: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.delete-btn{
	font-weight: 900;
    font-size: 11px;
    border: none;
    background: none;
    cursor: pointer;
}

.review_all_contents{
padding: 10px 30px 0px 30px;
    font-size: 13px;
    margin-top: 10px;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}

.my_review_all{
width: 100px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--main-color-light);
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: flex;
}

.dropdown-toggle {
    background: url(../images/dot_menu.png) no-repeat center center;
    background-size: contain;
    width: 16px;
    height: 16px;
    border: none;
    cursor: pointer;
    padding: 0;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: -130px;
    top: -10px;
    background-color: var(--gray-6);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
    overflow: hidden;
    white-space: nowrap;
}

.dropdown-menu div {
	cursor:pointer;
font-weight: 600;
    font-size: 12px;
    gap: 10px;
    color: #fff;
    padding: 15px 13px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.my_review_btns{
	display: flex;
    flex-direction: row;
    width: 230px;
    justify-content: space-between;
}
