#main_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* 화면 크기에 맞추기 */
}

#main_content {
    display: flex;
    flex-direction: row;
    width: 100%; /* 화면 크기에 맞추기 */
    max-width: 1500px;
}

.movie-page {
    display: flex;
    flex-direction: column; /* 세로 정렬로 변경 */
    width: 100%; /* 화면 크기에 맞추기 */
    max-width: 1500px;
    overflow-x: hidden; /* 가로 스크롤 숨기기 */
}

.movie-main {
    display: flex;
    justify-content: right;
    margin-left: 100px;
    width: 80%;     
    position: relative;
    height: 180px;
}

.movie-main ul li{	
    display: flex;
	align-items: center;
	position: relative;
}


.search-container {
     display: flex;
    align-items: center; /* 요소들을 수직 가운데 정렬 */
    
}

input[type="search"] {
    width: 200px; 
    height: 30px;
    padding: 10px;
    font-size: 14px;
    background-color: #EBE9E9;
    border: none;
    border-radius: 10px;
    margin-top: 50px;
    color: #8D8D8D;
    position: relative;
    top: 80px;
   	left: 50px;
}

input[type="submit"] {
    background-color: #EBE9E9;
    width: 20px; 
    height: 20px; 
    border: none;
    cursor: pointer;
    position: absolute;
    top: 145px;
    left: 220px;
    transform: translateY(-50%); 
    background-image: url('${pageContext.request.contextPath}/images/search_icon.png');
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center; 
}

input[type="search"]::placeholder {
    color: #8D8D8D;
    font-weight: 500;
}
.movie-list-title{
	position: relative;
    top: 100px; /* 필요에 따라 조정 */
   	right: 330px; /* 필요에 따라 조정 */
}
.select-wrapper {
    position: relative;
    top: 105px; /* 필요에 따라 조정 */
   	left: 80px; /* 필요에 따라 조정 */
}

.select-wrapper select {
    padding: 5px;
    font-size: 12px;
    border: 1px solid #3D3D3D;
    background-color: #fff;
    border-radius: 10px;
    color: #3D3D3D;
    height: 30px;
}

.movie-list-page {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-x: hidden; /* 가로 스크롤 숨기기 */
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%; /* 화면 크기에 맞추기 */
    overflow-x: hidden; /* 가로 스크롤 숨기기 */
    
}

.movie {
    width: calc(25% - 10px); /* 4개의 영화가 한 줄에 들어가도록 너비 조정 */
    margin: 0 5px 30px 5px;
    text-align: center;
}

.movie img {
    width: 70%;
    max-width: 100%;
    height: 50%;
}

#loadMoreButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
    background-color: white;
    cursor: pointer;
}

.bookAopen {
    display: flex;
    align-items: center; /* 요소들을 수직 가운데 정렬 */
    margin-left: 17px;
}

.movie-button {
    display: flex;
    align-items: center; /* 요소들을 수직 가운데 정렬 */
    margin-left: 22px;
    margin-top: 5px;
}

.movie-fav-button {
    display: flex; /* 아이콘과 텍스트를 가로로 배치하기 위해 */
    align-items: center; /* 가운데 정렬 */
    border-radius: 5px;
    background: white;
    color: gray;
    font-size: 10px;
    padding: 1px 15px; /* 좌우 여백 조정 */
    cursor: pointer;
    margin-right: 7px; /* 아이콘과 텍스트 사이 여백 */
    border: 1px solid gray; /* 테두리 설정 */ 
}

.movie-fav-button i {
    margin-right: 5px; /* 아이콘 오른쪽 여백 */
}

.movie-reservation-button-list {
    border-radius: 5px;
    background: #3F66ED;
    color: white;
    font-size: 10px;
    padding: 2px 15px;
    cursor: pointer;
    width: 80px; /* 너비 설정 */
    height: 21px; /* 높이 설정 */
}
