@charset "UTF-8";

* {
	font-family: "Noto Sans KR", sans-serif;
}
/* =======================
	  myPage 고정 프로필 박스
   ======================= */
.myPageMain_1 {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	margin-top: 5%;
	background-color: #DBE3FF;
	width: 1160px;
	height: 230px;
	box-sizing: border-box;
	border-radius: 15px;
}

.myPageMain_photo {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 170px;
	height: 170px;
	border-radius: 50%;
	overflow: hidden;
}

.myPageMain_photo img {
	width: 100%;/* 수정하기 기본이미지는 100 */
	height: auto;
}

.myPageMain_right {
	width: 70%;
	height: 70%;
	/* margin-left: 100px; */
}

.myPageMain_information {
	margin-top: 25px;
}

.myPageMain_name {
	font-weight: 500;
	font-size: 20pt;
}

.myPageMain_id, .myPageMain_nickName {
	margin-left: 10px;
	font-size: 14px;
	font-weight: 500;
	margin-right: 10px;
}

.myPageMain_vip {
	margin-top: 10px;
	font-size: 14px;
}

.mp_vip_lounge {
	margin-top: 13px;
	font-size: 14px;
	border-radius: 20px;
	background: #3F66ED;
	color: white;
	width: 85px;
	height: 26px;
	padding: 1px 10px;
	cursor: pointer;
}

.mp_vip_lounge:hover {
	background: #2a49b3;
}
/* =======================
  myPage 고정 티켓,쿠폰,포인트 박스
   ======================= */
.myPageMain_2 {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	margin-top: 2%;
	margin-bottom: 5%;
	width: 1160px;
	height: 240px;
	box-sizing: border-box;
	border-radius: 15px;
}
/* 고정_티켓,쿠폰,포인트 */
.myPage_ticket, .myPage_coupon {
	background-color: #EFF3FD;
	width: 35%;
	height: 80%;
	box-sizing: border-box;
	border-radius: 15px;
	margin-right: 40px;
	font-size: 14px;
	padding: 20px 0 10px 25px;
}

.myPage_point {
	background-color: #EFF3FD;
	width: 35%;
	height: 80%;
	box-sizing: border-box;
	border-radius: 15px;
	font-size: 14px;
	padding: 20px 0 10px 25px;
}

.mp_ticket, .mp_coupon, .mp_point {
	border-radius: 20px;
	background: #3F66ED;
	color: white;
	width: 100px;
	height: 26px;
	padding: 2px 10px;
	text-align: center;
}

.my_point_charge {
	border-radius: 20px;
	background: #FF5151;
	color: white;
	width: 50px;
	height: 26px;
	font-size: 13px;
	padding: 3px 10px;
	text-align: center;
	cursor: pointer;
}

.ticket_content {
	margin-top: 7%;
	cursor: pointer;
}

.point_content, .coupon_content {
	display: flex;
	justify-content: space-between;
	padding-right: 28px;
	margin-top: 7%;
	font-weight: 500;
	cursor: pointer;
}

.user_point {
	text-align: right;
}

.mypage_movie_name {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 5px;
	width: 245px;
	/* 글자 ..처리 */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.main_display {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.main_movie_info1 {
	width: 20%;
}

.main_movie_info2 {
	width: 80%;
}

.myPage_bold {
	font-weight: 500;
	margin-left: 10px;
}

.point_list {
	margin-top: 5px;
	font-size: 13px;
	color: #A1A1A1;
}

.line {
	margin-top: 10px;
	border-top: 1px solid #D8D8D8;
}

.main_count {
	margin-left: 6px;
}
/* =======================
			nav
   ======================= */
.mp_nav_myPage {
	font-size: 17px;
	font-weight: bold;
}

.mp_nav_myPage a:hover {
	cursor: pointer;
	font-weight: 800;
	color: #3F66ED !important;
}

.mp_nav {
	font-size: 17px;
	font-weight: bold;
	margin: 17px 0 6px 0;
}

.mp_nav a:hover {
	cursor: pointer;
	font-weight: 800;
	color: #3F66ED !important;
}

.mp_li {
	font-size: 14px;
	font-weight: 550;
	margin-bottom: 3px;
}

.mp_li a:hover {
	cursor: pointer;
	font-weight: 800;
	color: #3F66ED !important;
}
/* =======================
       body-nav,main
   ======================= */
#main_body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#main_content {
	display: flex;
	width: 1320px;
	justify-content: center;
}

.myPageNav {
	width: 250px;
}

.myPage_main {
	width: 950px;
	margin-right: 32px;
}
/* =======================
       main_myPage_body_1
       (myPageMain.jsp)
   ======================= */
.myPage_active {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	width: 100%;
	box-sizing: border-box;
	border-radius: 15px;
}

.m_except {
	text-align: center;
	background-color: #EFF3FD;
	width: 35%;
	height: 80%;
	box-sizing: border-box;
	border-radius: 15px 0 0 15px;
	font-size: 14px;
	padding: 4% 10%;
}

.m_watching {
	text-align: center;
	background-color: #EFF3FD;
	width: 35%;
	height: 80%;
	box-sizing: border-box;
	font-size: 14px;
	padding: 4% 10%;
}

.m_review {
	text-align: center;
	background-color: #EFF3FD;
	width: 35%;
	height: 80%;
	box-sizing: border-box;
	border-radius: 0 15px 15px 0;
	font-size: 14px;
	padding: 4% 10%;
}

.m_except:hover, .m_watching:hover, .m_review:hover {
	background-color: #DBE3FF;
}
/* 아이콘 위치 삭제---------------------- */
.test_icon {
	margin: 0 auto;
	width: 45px;
	padding-top: 3px;
}
/* 아이콘 위치 삭제---------------------- */
.myPageMain_font_b {
	font-size: 17px;
	font-weight: 700;
	margin: 12px 0 5px 0;
}

.myPageMain_font_s {
	font-size: 13px;
	font-weight: 400;
	color: #949292;
}
/* =======================
       main_myPage_body_2
       (myPageMain.jsp)
   ======================= */
/* .my_reserv_info{
	margin-bottom: 10px;
} */
.main_body_reservation {
	margin-bottom: 30px;
}

.qna_box {
	margin-top: 40px;
	margin-bottom: 30px;
}

.reserv_font {
	font-size: 18px;
	font-weight: 600;
}

.myPageReservation_list {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	width: 100%;
	height: 270px;
	box-sizing: border-box;
	border-radius: 15px;
	background: #F2F2F2;
	margin-top: 15px;
}

.mp_reserv {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: auto;
}

.m_movie_photo {
	width: 150px;
	height: 200px;
	margin: 20px 45px 20px 40px;
}

.mpMovie_info {
	width: 680px;
}

.mp_movie_number_1 {
	color: #666;
	font-weight: 600;
	font-size: 16px;
	margin-right: 5px;
}

.mp_movie_number_2 {
	color: #000;
	font-weight: 600;
	font-size: 16px;
}

.mp_movie_number_3 {
	color: red;
	font-weight: 600;
	font-size: 16px;
}

.mp_movie_title {
	font-weight: 600;
	font-size: 18px;
	margin: 6px 0 10px 0;
}

.reservation_list {
	display: flex;
	align-items: center;
	cursor: pointer;
	/* justify-content: space-between; */
}

.reserv_info {
	color: #666;
	font-weight: 500;
	font-size: 15px;
}
.main_resrv{
	margin-top: 40px;
}
.my_reserv_info {
	font-size: 15px;
	font-weight: 600;
	margin-right: 470px;
	margin-left: 20px;
}

.reserv_pay_cancle {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 500;
	cursor: pointer;
	font-size: 15px;
}

.reserv_line {
	margin: 15px 0 12px 0;
	border-top: 1px solid #D8D8D8;
}

.m_pay {
	font-size: 15px;
	font-weight: 600;
}

.my_blue_font {
	color: #3F66ED;
	font-weight: 600;
}

.m_cancle {
	margin-left: auto;
	border: 1px solid;
	width: 70px;
	font-size: 13px;
	text-align: center;
}

.qna {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	width: 100%;
	height: 90px;
	box-sizing: border-box;
	border-radius: 15px;
	background: #F2F2F2;
	margin-top: 15px;
}

.mpQna {
	margin-right: auto;
	margin-left: 30px;
	font-weight: 500;
	width: 800px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* =======================
       watchedMovie.jsp
   ======================= */
.myPage_title {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 10px;
}

.wa_box {
	display: flex;
	align-items: center;
	/* justify-content: center;
    margin: 0 auto; */
	width: 100%;
	height: 210px;
	box-sizing: border-box;
	border-radius: 15px;
	margin-top: 25px;
}

.wa_photo {
	width: 150px;
	height: 210px;
	background-color: #000;
}

.wa_movie_info {
	width: 400px;
	margin-left: 50px;
}

.wa_info_name {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 10px;
}

.wa_info_sub {
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 3px;
}

.wa_line {
	margin: 20px 0;
	border-top: 1px solid #D8D8D8;
}
/* =======================
       myPageReservation.jsp
   ======================= */
.reservation_display {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.myPage_title_re {
	font-size: 18px;
	font-weight: 700;
}

.watched_movie {
	background-color: #3F66ED;
	font-size: 16px;
	color: #fff;
	width: 110px;
	height: 30px;
	text-align: center;
	align-content: center;
}

.reservation_font {
	display: flex;
	gap: 10px;
	flex-direction: column; /* flex 상하 */
	text-align: center;
	margin-top: 50px;
}

.reservation_font_red {
	color: red;
}

.reservation_font1 {
	font-size: 20px;
	font-weight: 600;
}

.reservation_font2 {
	font-size: 13px;
	font-weight: 500;
	color: #666;
}

.reservation_rep {
	margin: 60px 0;
}

.re_movie_number {
	margin-bottom: 20px;
}

.reserv_display {
	display: flex;
	align-items: center;
	justify-content: center;
}

.reservation_info {
	width: 100%;
	height: 210px;
	padding-top: 20px;
	margin-left: 40px;
}

.reservation_movie_name {
	font-size: 18px;
	font-weight: 600;
}

.reservation_infomation {
	display: flex;
	justify-content: center;
	cursor: pointer;
	margin-top: 10px;
}

.my_reserv_info_1 {
	width: 12%;
	color: #666;
	font-weight: 500;
}

.my_reserv_info_2 {
	width: 25%;
	color: #000;
	font-weight: 500;
}

.my_reserv_info_3 {
	width: 12%;
	color: #666;
	font-weight: 500;
}

.my_reserv_info_4 {
	width: 51%;
	color: #000;
	font-weight: 500;
}

.my_reserv_info_1>div, .my_reserv_info_2>div, .my_reserv_info_3>div,
	.my_reserv_info_4>div {
	margin-bottom: 2px;
}

.payment_receipt {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 20px;
}

.pay_receipt_box {
	background-color: #fff;
	padding: 38px 50px 55px 50px;
	margin-bottom: 40px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 속성(수평,수직,블러반경,투명도) */
}

.pay_receipt {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.reservation_pay {
	font-size: 16px;
	font-weight: 600;
}

.reservation_pay_blue_font {
	color: #3F66ED;
	font-weight: 600;
}

.payment_way {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.pay_way, .pay_way_count {
	font-size: 14.5px;
	font-weight: 500;
	color: #666;
}

.pay_way>div {
	margin-bottom: 3px;
}
/* =======================
       modifyUser.jsp
   ======================= */
.login_form_inputs {
	margin: 38px 0 46px;
}

#member_modify {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login_form_all {
	width: 380px;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.login_form_inputs_id_passwd {
	height: 50px;
	display: flex;
	align-items: center;
	column-gap: 8px;
	border-radius: 6px;
	background-color: #fff;
	border: 1px solid #eaeaea;
}
.login_form_inputs_id_zipcode {
    height: 50px;
    width:280px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid #eaeaea;
}
.zipcode-btn{
	margin:70px;
    border-radius: 7px;
    color: #fff;
    background-color: #666;
    height: 35px;
    border: none;
    cursor: pointer;
}
.input_style {
	font-size: 14px;
	line-height: 22.4px;
	font-weight: 400;
	word-break: keep-all;
	flex-grow: 1;
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0 20px;
	color: #000;
	border: none;
	outline: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.user_modify_btn {
	margin-top: 15px;
	border-radius: 7px;
	color: #fff;
	background-color: var(--main-color-strong);
	width: 180px;
	height: 35px;
	border: none;
	cursor: pointer;
}

.modify_btn_all {
	display: flex;
	justify-content: center;
}

#member_modify .error-color {
	font-size: 12px;
	color: red;
}

/* address */
.login_form_inputs_my {
	margin: 38px 0 46px;
}

#member_modify_my {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login_form_all_my {
	width: 380px;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.login_form_inputs_id_passwd_my {
	height: 50px;
	display: flex;
	align-items: center;
	column-gap: 8px;
	border-radius: 6px;
	background-color: #fff;
	border: 1px solid #eaeaea;
}

.login_form_inputs_id_zipcode_my {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.input_zipcode_my {
    height: 50px;
    width: 260px;
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid #eaeaea;
    padding-left: 20px;
}

.zipcode-btn_my {
    height: 50px;
    border-radius: 6px;
    color: #fff;
    background-color: #666;
    border: none;
    cursor: pointer;
    padding: 0 20px;
}

.modify_btn_all_my {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.user_modify_btn_my {
	background-color: #666;
	color: #fff;
	border: none;
	border-radius: 6px;
	padding: 10px 20px;
	cursor: pointer;
}
.input_zipcode {
    font-size: 14px;
    line-height: 22.4px;
    font-weight: 400;
    word-break: keep-all;
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin: 0;
    padding-left:20px;
    color: #000;
    border: none;
    outline: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* =======================
       expectinMovie.jsp
   ======================= */
.movie_list_all {
	display: flex;
	/* justify-content: center; */
	width: 100%;
	/* overflow: hidden; */
}

#expecting_movielist {
	margin-left: -52px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-bottom: 30px;
	margin-top: 20px;
}

.liked_movie {
	/* width: calc(25% - 10px); */
	margin: 0 5px 30px 5px;
	text-align: center;
}

.expect_movie .expect_movie_poster {
	width: 90%;
	max-width: 100%;
	height: auto;
}

.expect_movie {
	display: flex;
	color: #666;
	flex-direction: column;
	align-items: center;
}

.expect-movie-info {
	padding: 13px 3px 13px 3px;
	display: flex;
	justify-content: space-between;
	width:190px;
}

.expect-movie-title {
	display: flex;
	align-items: center;
	width: 150px;
	justify-content: center;
}

.expect-movie-like {
	display: flex;
	/* width: 40px; */
	align-items: center;
	justify-content: flex-end;
}
.movie_name{
	width:160px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* =======================
     	myPageCoupon.jsp
   ======================= */
.coupon_box {
	width: 100%;
	margin-top: 30px;
}

.coupon_info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #F2F2F2;
}

.coupon_info_list {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.coupon_in {
	font-size: 16px;
	font-weight: 600;
	width: 50%;
	text-align: center;
	padding: 13px 0;
}
.coupon_in_2 {
	font-size: 16px;
	font-weight: 600;
	width: 30%;
	text-align: center;
	padding: 13px 0;
}

.coupon_info_name,  .coupon_info_content {
	font-size: 14px;
	font-weight: 600;
	width: 50%;
	text-align: center;
	padding: 13px 0;
}
.coupon_info_date {
	font-size: 14px;
	font-weight: 600;
	width: 30%;
	text-align: center;
	padding: 13px 0;
}
.myCoupon_option {
	width: 80px;
	height: 30px;
	border-radius: 10px;
	text-align: center;
}
/* =======================
     	myPageReview.jsp
   ======================= */
.review_box {
	display: flex;
	flex-direction: column; /* flex 상하 */
	text-align: center;
	margin-top: 25px;
	background-color: #F7F7F7;
	border-radius: 12px;
	padding: 20px 30px 20px 30px;
	gap: 12px;
	/* 자동 높이 조정 */
	flex-grow: 1;
	align-items: stretch;
}

.review_content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.review_content_info {
	text-align: left;
	font-size: 14px;
	width: 840px;
}

.review_id {
	font-size: 14px;
	font-weight: 500;
}

.my_review {
	margin-top: 10px;
	font-size: 15px;
}

.review_delete_btn {
	font-size: 14px;
	align-self: flex-start; /* 상단 정렬/하단 정렬이면 end 사용 */
}

.review_fav_date {
	text-align: right;
	font-size: 13px;
}
/* =======================
     		myPageBookMark.jsp/boardWrite/boardReply
   ======================= */
.bookMark_box {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 25px;
	background-color: #F7F7F7;
	border-radius: 12px;
	padding: 20px 30px;
	gap: 12px;
	flex-grow: 1;
	align-items: stretch;
}

.bk_content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: auto; /* 높이 자동 조정 */
}

.my_board_bk {
	text-align: left;
	font-size: 14px;
	width: 840px;
	display: flex;
	flex-direction: column; /* 수직 정렬 */
}

.bk_delete_btn { /* 마이페이지 삭제 버튼 */
	font-size: 14px;
	font-weight: 500;
	align-self: flex-start; /* 상단 정렬/하단 정렬이면 end 사용 */
}

.my_board_type {
	font-size: 14.5px;
	font-weight: 550;
	color: #575757;
}

.my_board_reply {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.my_boardWrite_bk {
	margin-top: 10px;
	font-size: 16px;
	font-weight: 550;
	width: 760px; /* 너비를 부모 요소에 맞춤 */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.my_board_reply {
	margin-top: 5px;
	font-size: 13px;
}

/* =======================
     		myPageConsult.jsp
   ======================= */
.consult_box {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 25px;
	background-color: #F7F7F7;
	border-radius: 12px;
	padding: 20px 30px 30px 30px;
	gap: 12px;
	flex-grow: 1;
	align-items: stretch;
}

.consult_content {
	display: flex;
	align-items: center;
	justify-content: normal;
	height: auto; /* 높이 자동 조정 */
}

.my_consult {
	text-align: left;
	font-size: 14px;
	width: 750px;
	display: flex;
	flex-direction: column; /* 수직 정렬 */
}

.my_consult_title {
	margin-top: 7px;
	font-size: 16px;
	font-weight: 550;
	width: 500px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.my_consult_check {
	display: flex;
	flex-direction: column;
	font-size: 15px;
	font-weight: 550;
	width: 100px;
	height: 32px;
	color: #fff;
	background-color: #3F66ED;
	border-radius: 30px;
	align-items: center;
	justify-content: center;
	margin: 10px 0 0 15px;
}

.consult_btn {
	display: flex;
	flex-direction: column;
	font-size: 14px;
	font-weight: 550;
	width: 85px;
	border: none;
	height: 32px;
	color: #fff;
	background-color: #3F66ED;
	border-radius: 30px;
	align-items: center;
	justify-content: center;
	margin-bottom: 15px;
}
.consult_date{
	text-align: left;
	font-size: 13px;
	font-weight: 500;
}
.conAnswer_btn{
	margin-bottom: 5px;
}

/* =======================
     		myPagePointList.jsp
   ======================= */
.point_box {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 25px;
	background-color: #F7F7F7;
	border-radius: 12px;
	padding: 20px 30px 30px 30px;
	gap: 12px;
	flex-grow: 1;
	align-items: stretch;
}

.point_box_rep {
	display: flex;
	flex-direction: column;
	text-align: center;
	/* margin-top: 25px; */
	background-color: #F7F7F7;
	border-radius: 12px;
	padding: 20px 30px 25px 30px;
	gap: 12px;
	flex-grow: 1;
	align-items: stretch;
}

.point_box_now {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 25px;
	background-color: #EFF3FD;
	border-radius: 12px;
	padding: 20px 30px 25px 30px;
	gap: 12px;
	flex-grow: 1;
	align-items: stretch;
}

.my_point_now {
	font-size: 14.5px;
	font-weight: 550;
	color: #949292;
	margin-top: 5px;
}

.my_point_date {
	font-size: 14.5px;
	font-weight: 550;
	color: #949292;
}

.myPage_point_now {
	font-size: 16px;
	font-weight: 600;
	color: #949292;
}

.myPage_point_count {
	font-size: 17px;
	font-weight: 600;
	margin-top: 5px;
}

.my_point_count {
	display: flex;
	flex-direction: column;
	font-size: 18px;
	font-weight: 600;
	width: 110px;
	height: 35px;
	border-radius: 30px;
	align-items: center;
	justify-content: center;
	margin: 10px 0 0 30px;
}

.point_line {
	width: 930px;
	margin: 0 auto;
	border-top: 1px solid #D8D8D8;
}
/* =======================
     		myPageBought.jsp
   ======================= */
.bought_info {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.my_delivery_process {
	color: #fff;
	font-size: 10px;
	font-weight: 550;
	text-align: center;
	line-height: 18px; /* 수직 정렬-요소의 높이와 동일하게 설정 */
	background-color: #FFDE5A;
	display: inline-block;
	/* span,a태그는 display:inline이기 때문에 width,height적용X */
	width: 70px;
	height: 18px;
	border-radius: 13px;
	margin-left: 7px;
}

.my_bought_btn {
	width: 150px;
	display: flex;
	justify-content: space-between;
}

.my_order_confirm, .my_order_return, .my_order_review {
	border: 1px solid;
	width: 70px;
	font-size: 13px;
	text-align: center;
}
/* =======================
     		myPageAddressList.jsp
   ======================= */
  .adress_plus{
  	margin-left: auto;
  	margin-top: 25px;
  	margin-bottom: 5px;
  	color: #fff;
  	background-color: #3F66ED;
  	font-size: 15px;
  	text-align: center;
  	width: 110px;
  	height: 33px;
  	line-height: 33px;
  }

.my_address_del_modi{
	display: flex;
	flex-direction: column;
	text-align: center;
}
.my_address_choice {
	margin-right: auto;
	padding-left: 7px;
}
.my_address_info {
	display: flex;
	text-align: center;
	margin-top: 15px;
	margin-bottom:15px;
	margin: 15px 0 30px 0;
	background-color: #F7F7F7;
    border-radius: 12px;
    padding: 20px 30px;
    /* gap: 430px; */
    flex-grow: 1;
    align-items: stretch;
    text-align: left;
}
.my_address_1,.my_address_2,.my_address_number{
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 4px;
}
.my_address_btn{
	margin-left: auto;
}
.add_btn{
	margin-left: auto;
}
.add_del_btn,.add_modi_btn{
	font-size:14px;
	text-align: center;
	margin-right: 10px;
	border:none;
	border-radius: 20px;
    background: #3F66ED;
    color: white;
    width: 57px;
    height: 27px;
    cursor: pointer;
}


/* =======================
     		myPageMemberShipSub.jsp
   ======================= */
.myPage_title_ship {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 25px;
}

.membership_box {
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: #fff;
	width: 290px;
	margin: 0 auto;
	padding: 25px 40px 40px 30px ;
	border-radius:15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.monthly{
	font-size: 18px;
	font-weight: 700;
	text-align: left;
	color:#949292;
}
.membership{
	font-size: 18px;
	font-weight: 700;
	text-align: left;
	color:#3F66ED;
	margin-bottom: 30px;
}
.price_box{
	display: flex;
	margin-bottom: 20px;
} 
.price{
	font-size: 38px;
	font-weight: 600;
	color:#3A3A3A;
}  
.month{
	font-size: 15px;
	font-weight: 600;
	color:#949292;
	padding: 14px 0 0 7px;
}
.check_box{
	display: flex;
	flex-direction: column;
}   
.coupon_ship1{
	display: flex;
	margin-bottom: 10px;
}   
.membership_coupon{
	padding-left: 14px;
	font-size: 15px;
	font-weight: 600;
	color: #3D3D3D;
}   
.mu_date{
	padding: 10px 0 0 4px;
	font-size: 15px;
	font-weight: 600;
	color: #d7d7d7;
} 
.sub_btn{
	margin-top:40px;
	background-color: #000;
	border-radius: 22px;
	border:none;
	width:100px;
	height:37px;
	color: #fff;
	font-size: 15px;
	font-weight: 500;
	cursor: pointer;
	text-align:center;
}
.sub_btn_2{
	margin-top:40px;
	background-color: #000;
	border-radius: 22px;
	border:none;
	width:100px;
	height:37px;
	color: #fff;
	font-size: 15px;
	font-weight: 500;
	text-align:center;
}
.sub_btn:hover{
	background-color:#3F66ED;
}  
.sub_left{
	text-align: left;
}  
.favCount{
	margin-right: 4px;
	padding-top: 3px;
	margin-top: 3px;
}   
.empty_position{
	margin-top:200px;
	text-align: center;
}
.empty_position_m{
	margin-top:200px;
	margin-left:400px;
	text-align: center;
}








   
   
   
   /*리뷰*/

   #mate_review {
   	width: 100%;
	height: 200%;
   	position: absolute;
   	left: 0;
   	top: 0;
   	display: none;
   	align-items: center;
   	justify-content: center;
   	background: rgba(71, 58, 58, 0.8);
   }

   /********************************
   /* 모달 창*/
   .mate_review_window {
       background: #ffffff;
       width: 600px;
       position: relative;
       border-radius: 15px;
       max-height: 80vh; 
       overflow-y: auto; 
       z-index : 11000;
   }

   /********************************
   /*모달 창 제목 바 DIV*/
   

   /*메이트 프로필 모달 창 제목의 닫기 버튼*/
   .mate_review_close {
   	cursor: pointer;
   	color: black;
   }

   .mate_review_profile h2{
	text-align: center;
	margin-top:30px;
	margin-bottom: 25px;
   }
   /********************************
   /*모달 창 본문 DIV*/
   .content {
   	margin-top: 20px;
   	color: black;
   }


   /********************************/
   /*리뷰 쓰기 컨텐츠란 전체 DIV*/
   .mr_content_div {
   	padding-top: 5px;
	margin-left:73px;
   }

   /*메이트 프로필에 쓰이는 내용란 (회색 박스) DIV*/

   .mr_content p{
   	padding: 15px;
   }

   #mr_content{
   	border-radius: 8px;
   	background: #e0e0e0;
   	border : none;
   	width: 450px;
   	height: 300px;
   	margin: 0 auto;
   	resize: none;
   }


   /*****************************/
   /*버튼*/
   .btn-div {
       display: flex;
       justify-content: space-evenly;
       align-items: center;
       margin-top: 25px;
       margin-bottom: 40px;
	   margin-right: 75px;
	   
}

   /*닫기 버튼*/
   #close-btn, #submit-btn {
   	font-size : 13pt;
       width: 210px;
       height: 60px;
       display: flex;
       align-items: center;
       text-align: center;
       border-radius: 15px;
       margin: 0 10px;
       cursor: pointer;
       justify-content: space-around;
       color: white;
   }
   
   #submit-btn{
	background: #3F66ED;
	border: none;
   }
   
   #close-btn{
	background: none;
	color:black;
   }
   
   .star{
	margin-left: 165px;
	margin-bottom: 20px;
   }
   
   .reStar{
	width:50px;
   }
   
   