@charset "UTF-8";

:root {
	/* CSS 전역 변수 선언 */
	--main-color: #DBE3FF;
	--main-color-strong: #3F66ED;
	--main-color-light: #EFF3FD;
	--gray-1: #F2F2F2;
	--gray-2: #D1D1D1;
	--gray-3: #BDBDBD;
	--gray-4: #ABAAAA;
	--gray-5: #949292;
	--gray-6: #020202;
	--yellow-check-btn: #FFDE5A;
	--red-check-btn: #FF5151;

	/*color: var(--main-font-color);
	  변수 선언한 건 이런식으로 사용하면 됨
	*/
}

* {
	font-family: "Noto Sans KR", sans-serif;
}

ul, ol, dl {
	list-style: none;
}

a {
	text-decoration: none;
	color: #000;
}

.page-container {
	width: 70%;
	min-width: 900px;
	margin: 0 auto;
}

.ic_grade {
	display: inline-block;
	width: 22px;
	height: 22px;
	line-height: 22px;
	border-radius: 50%;
	font-size: 0;
	text-align: center;
	vertical-align: middle;
	margin-right: 5px;
	font-weight: bold;
}

.ic_grade:before {
	content: "";
	display: block;
	width: 22px;
	height: 22px;
	border-radius: 3px;
	background-size: 100%;
}

.ic_grade.gr_all:before {
	background: #229c56 url(../images/cmj/grade_all.png) 0 0 no-repeat;
}

.ic_grade.gr_12:before {
	background: #e9b630 url(../images/cmj/grade_12.png) 0 0 no-repeat;
}

.ic_grade.gr_15:before {
	background: #dd7430 url(../images/cmj/grade_15.png) 0 0 no-repeat;
}

.ic_grade.gr_19:before {
	background: #CD1327 url(../images/cmj/pc_grade_19.png) 0 0 no-repeat;
}
