@charset "UTF-8";

.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
}
.align-left{
	text-align:left;
}

/*supportNav*/
div.supportNav{
	width:18%;
}
div.supportNav ul li{
	width:160px;
}
div.supportNav ul li.support_nav a{
	display:inline-block;
	width:153px;
}
div.supportNav ul li.support_nav{
	border-top:1px solid #BEBABA;
	border-left:1px solid #BEBABA;
	border-right:1px solid #BEBABA;
}
div.supportNav > *{
	font-size:15px;
}
div.supportNav ul li.support-call{
	border:1px solid #BEBABA;
	border-radius:0 0 10px 10px;
}
.support-call div{
	font-size:15px;
	color:#8c8c8c;
	padding:7px 5px 7px 7px;
}
li.support_nav{
	padding:5px 5px 5px 7px;
}

/*supportMain 고객센터 메인*/
.flexbox-h{
	display:flex;
	flex-direction:row;
}

.flexbox-p{
	display:flex;
	flex-direction:column;
}
.side{
    justify-content:space-between;
    align-items:center;
    width:100%;
}

#main_content{
	display:flex;
	justify-content:center;
	width:1250px;
	margin:0 auto;
}
#main_content > div{
	margin-top:50px;
}
#support_main{
	width:78%;
}
#support_main{
	gap:20px;
}
.main-upper-menu > div{
	width:290px;
	height:300px;
	margin-right:15px;
	background:#EFF3FD;
}
.main-lower-menu{
	width:930px;
	gap:15px;
}
.left-lower-menu h4, .right-lower-menu h4{
	margin-bottom:10px;
}
.left-lower-menu{
	width:290px;
}
.p-center{
	display:flex;
    align-items: center;
}
.main-notice-title:hover{
	color:#707070;
}
.right-lower-menu{
	width:600px;
}
.fast-menu{
	align-items:center;
	justify-content:center;
	position:relative;
}
/*문의하기,문의내역 버튼*/
.fast-menu a{
	background:#3F66ED;
	color:#fff;
	padding:3px 7px;
	border-radius:5px;
}
.fast-menu img{
	position:absolute;
	top:65px;
	margin-bottom:50px;
}
.fast-menu-cont{
	align-items:center;
	justify-content:center;
	position:absolute;
	top:150px;
	width:235px;
	gap:10px;
}
.fast-menu-cont strong{
	font-size:16px;
}
.font14{
	font-size:14px;
}
.flex-start{
	align-items:flex-start;
}

.faq-mbutton{
	background:#3F66ED;
	color:#fff;
	padding:3px 7px;
	border-radius:3px;
	border:none;
	width:42px;
}

.imenu a {
	display:inline-block;
	width:130px;
	height:65px;
	margin-right:5px;
	margin-bottom:10px;
/* 	text-align:left; */
}
.imenu > a > span{
	display:inline-block;
	width:130px;
	height:65px;
	margin:5px;
	font-size:14px;
	padding: 10px 15px 15px 15px;
	vertical-align:middle;
	border:1px solid #BEBABA;
	border-radius:7px;
}
#search_box input.faq-keyword{
	width:150px;
}

.main-news{
	display:flex;
	align-items:middle;
}
.main-news img{
	cursor:pointer;
}


/*로그인시 아이디찾기 비활성화*/
.disabled{
	color:gray;
}
.right-lower-menu table{
	width:100%;
	border-collapse: collapse;
}
.right-lower-menu td{
	display:flex;
	justify-content: space-between;
	padding:3px;
	font-size:15px;
}

/*supportFaq 자주묻는질문*/
.faq-table, .news-table, .qna-table{
	border-collapse:collapse;
	width:930px;
	font-size:15px;
}
.faq-table td, .news-table td, .qna-table td, .qna-table th{
	border-top:1px solid #BEBABA;
	padding:8px 7px;
}
.faq-table:last-child, .news-table tr:last-child, .qna-table tr:last-child{
	border-bottom:1px solid #BEBABA;
}

.faq-sub-info, .news-sub-info{
	margin:2px 0;
	font-size:14px;
	color:#404040;
}
.support-search{
	margin:15px 0;
}
.support-search input{
	width:35%;
	padding:4px;
	height:30px;
}
.faq-table-num, .news-table-num{
	padding: 7px;
}
.faq-table-num, .faq-table-hit, .news-table-num, .news-table-hit, .news-table-rdate{
	text-align:center;
}
.faq-table-title, .news-table-title{
	text-align:left;
}

/*consult 일대일문의*/
.qna-member-info{
	margin-top:15px;
}
.qna-member-info > div{
	border-top:1px solid #000;
}
.qna-member-info > div:last-child{
	border-bottom:1px solid #000;
}
.check-info{
	padding:2px 5px 2px 0;
	font-size:14px;
}
.member-info-gap{
	display:flex;
	padding:10px;
}
.info-label{
	display:inline-block;
	width:80px;
	margin-right:15px;
}
.phone-email{
	gap:300px;
}
.warning{
	background:#CEEEF9;
	align-items:center;
	padding:7px 30px;
	gap:30px;
	margin:20px 0;
}
.qna-member-info, .warning{
	font-size:15px;
}

form#qna_register{
	margin:50px 0;
	padding:10px;
	font-size:15px;
}
.form-label{
	width:100px;

}
.form-items{
	 border-bottom:1px solid #edebeb;
	 padding:20px 0;
}

input#consult_title{
	width:790px;
	padding:7px;
} 
.consult-form-title-container{
	width:850px;
}
textarea#consult_content{
	width:850px;
	padding:7px;
	height:170px;
	overflow:auto;
	resize:none;
}
.file-info > div{
	margin-top:7px;
}
.btn-container{
	text-align:right;
	margin-top:30px;
}

.qna-top{
	margin:20px 0 8px 0;
}
.qna-top div{
	display:flex;
	gap:3px;
}
.qna-table td{
	padding:7px;
}

.qna-table-title{
	text-align:left;
}
.qna-table-num{
	width:100px;
	text-align:center;
}
.qna-table-title{
	text-align:left;
	width:530px;
	padding-left:10px !important;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.qna-table-writer{
	width:100px;
	text-align:center;
}
.qna-table-rdate{
	width:110px;
	text-align:center;
}
.qna-table-status{
	width:90px;
	text-align:center;
}

.page-div{
	margin-top:30px;
}




/*문의디테일*/
.consultDetail-main{
	margin-top:50px;
}
.c-tc{
	margin-top:5px;
}
.c-label{
	width:100px;
	margin-right:15px;
}
.c-category > *{
	color:#808080;
	font-size:15px;
}
.ctype{
	color:#696969;
}
.corder-num{
	color:#000;
}
.corder-num:hover{
	text-decoration: underline;
	color:#878787;
}
.cquestion{
	min-height:300px;
}
.canswer{
	min-height:250px;
}
.ctitle{
	display:flex;
	align-items: center;
	gap:5px;
}
.ccontent{
	padding:7px;
}
.ccon{
	display:flex;
	align-items: center;
}
.c-hr{
	margin:5px 0;
}




/*버튼*/
.default-btn3{
	border:none;
	border-radius:5px;
	width:65px;
	height:32px;
    background-color:#3F66ED;
    color:#fff;
    font-size:15px;
    margin-right:10px;
    cursor:pointer;
}
.default-btn4{
	border:1px solid #3F66ED;
	border-radius:5px;
	width:70px;
	height:32px;
    background-color:#fff;
    color:#000;
    font-size:15px;
    cursor:pointer;
}

.c-submit-btn{/*문의 등록 버튼*/
	border:none;
	border-radius:5px;
	width:70px;
	height:32px;
    background-color:#3F66ED;
    color:#fff;
    font-size:15px;
    cursor:pointer;
}

.c-write-btn{/*문의폼 이동 버튼*/
	border:none;
	border-radius:5px;
	width:60px;
	height:32px;
    background-color:#3F66ED;
    color:#fff;
    font-size:14px;
    cursor:pointer;
    margin-right:45px;
}
.font-red, .error-color{
	color:red;
}













/*공지 뉴스*/
.news-search-container{
	margin:15px 0;
}
form#news_search_form{
	margin-left:0 !important;
}
#news_search_form > *{
	height:30px;
	padding:4px;
	font-size:13px;
}
#news_search_form select{
	width:80px;
}
#news_search_form input{
	width:300px;
	margin:0 3px;
}



.toList{
	text-align:center;
	margin-top:50px;
}

.notice-title{
	overflow: hidden;
    padding: 11px;
    border-top: solid 1px #b8b6aa;
    background-color: #f8f8f8;
    margin-top:15px;
}
.notice-detail-hr{
	margin-top:20px;
}
.notice-content{
	margin-top:10px;
	padding: 35px 13px;
    border-bottom: solid 1px #b8b6aa;
    line-height: 24px;
}
.notice-title > * {
	font-size:13px;
}
.notice-content > *{
	font-size:14px;
	color:#2e2e2e;
}
.rdate-hit{
	display:flex;
	gap:30px;
}
.rh{
	margin-left:9px;
}
.notice-list-btn{
	margin:20px 0 30px 0;
}
.notice-list-btn > input{

	border:1px solid #3F66ED;
	border-radius:5px;
	width:60px;
	height:30px;
    background-color:#fff;
    color:#000;
    font-size:13px;
    cursor:pointer;
}


.search-button{
	border:0.8px solid #474747;
	border-radius:3px;
	width:55px;
	height:30px;
    background-color:#fff;
    color:#000;
    cursor:pointer;
}