<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.admin.dao.AdminMapper"><!--인터페이스명-자동매핑 -->
	<insert id="insertEvent" parameterType="EventVO">
		INSERT INTO event(
		event_num,
		event_name,
		event_content,
		event_filename,
		event_start,
		event_end
		)
		VALUES (
		event_seq.nextval,
		#{event_name},
		#{event_content},
		#{event_filename,jdbcType=VARCHAR},
		#{event_start},
		#{event_end})
	</insert>
	<!-- 공지사항 등록 -->
	<insert id="insertNotice" parameterType="NoticeVO">
		INSERT INTO notice_board
		(
		nb_num,
		nb_title,
		nb_content,
		nb_filename,
		mem_num
		)
		VALUES (
		notice_board_seq.nextval,
		#{nb_title},
		#{nb_content},
		#{nb_filename,jdbcType=VARCHAR},
		#{mem_num}
		)
	</insert>
	
	<sql id="movieSearch">
		<where>
			<if test="keyfield != null and keyword != null">
            AND
            ${keyfield} LIKE '%' || #{keyword} || '%'
     	   </if>
		</where>
	</sql>

	<!-- 게시판 글 총레코드수/검색 레코드수 -->
	<select id="selectRowCount" parameterType="map"
		resultType="integer">
		SELECT
		COUNT(*)
		FROM movie
		<include refid="movieSearch"></include>
	</select>

	<!-- 게시판 전체/검색 목록 -->
	<select id="selectMovie" parameterType="map"
		resultType="MovieVO">
		SELECT
		*
		FROM (
		SELECT
		a.*,
		rownum rnum
		FROM (
		SELECT
		m_code,
                <![CDATA[
                REPLACE(REPLACE(m_name, '<', '&lt;'), '>', '&gt;') AS m_name,
                ]]>
		m_opendate,
		m_companys,
		m_status,
		m_filename
		FROM movie
		<include refid="movieSearch"></include>
		) a
		)
    <![CDATA[
    WHERE rnum >= #{start} AND rnum <= #{end}
    ]]>
	</select>

</mapper>							






