<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.admin.dao.AdminMapper"><!--인터페이스명-자동매핑 -->
	<sql id="memberSearch">
		<where>
			<if test="keyfield != null and keyword != null">
				AND
				${keyfield} LIKE '%' || #{keyword} || '%'
			</if>
			<if test="keyfield != null and keyfield != ''">
       	        AND 
           	   ${keyfield} LIKE '%' || #{keyword} || '%'
        	</if>
		</where>
	</sql>
	

	<!-- 회원 전체/검색 목록 -->
	<select id="selectMemberList" parameterType="map"
		resultType="AdminVO">
		SELECT *
		FROM (
		SELECT a.*, rownum rnum
		FROM (
		SELECT
		m.mem_num,
		m.mem_auth,
		m.mem_rank,
		m.mem_id,
		md.mem_name,
		md.mem_phone,
		md.mem_email,
		md.mem_reg_date
		FROM member m
		JOIN member_detail md ON m.mem_num =
		md.mem_num
		<include refid="memberSearch"></include>
		) a
		)
    <![CDATA[
    WHERE rnum >= #{start} AND rnum <= #{end}
    ]]>
	</select>

	
	<!-- 회원 글 총레코드수/검색 레코드수 -->
	<select id="selectMemberRowCount" parameterType="map"
		resultType="integer">
		SELECT
		COUNT(*)
		FROM member_detail
		<include refid="memberSearch"></include>
	</select>

	
	<!-- 구독 전체/검색 목록 -->
	<sql id="membershipSearch">
		<where>
			<if test="keyfield != null and keyword != null">
				AND
				${keyfield} LIKE '%' || #{keyword} || '%'
			</if>
			<if test="keyfield != null and keyfield != ''">
       	        AND 
           	   ${keyfield} LIKE '%' || #{keyword} || '%'
        	</if>
		</where>
	</sql>
	

	<select id="selectMembershipList" parameterType="map"
		resultType="AdminVO">
		SELECT *
		FROM (
		SELECT a.*, rownum rnum
		FROM (
		SELECT
		m.mem_num,
		m.mem_id,
		m.mem_rank,
		m.mem_membership,
		md.mem_name,
		md.mem_reg_date
		FROM member m
		JOIN member_detail md ON m.mem_num =
		md.mem_num
		<include refid="membershipSearch"></include>
		WHERE m.mem_membership = 2
		) a
		)
    <![CDATA[
    WHERE rnum >= #{start} AND rnum <= #{end}
    ]]>
	</select>

	
	<!-- 게시판 글 총레코드수/검색 레코드수 -->
	<select id="selectMembershipROwCount" parameterType="map"
		resultType="integer">
		SELECT
		COUNT(*)
		FROM member_detail
		<include refid="membershipSearch"></include>
	</select>
	
	<!-- 이벤트시작 -->
	<!-- 이벤트 목록/검색 -->
		<sql id="eventSearch">
		<where>
			<if test="keyfield != null and keyword != null">
				AND
				${keyfield} LIKE '%' || #{keyword} || '%'
			</if>
			<if test="keyfield != null and keyfield != ''">
       	        AND 
           	   ${keyfield} LIKE '%' || #{keyword} || '%'
        	</if>
		</where>
	</sql>
	

	<select id="selectEventList" parameterType="map"
		resultType="EventVO">
		SELECT *
		FROM (
		SELECT a.*, rownum rnum
		FROM (
		SELECT
		event_num,
		event_name,
		event_start,
		event_end,
		event_reg_date
		FROM event
		<include refid="eventSearch"></include>
		) a
		)
    <![CDATA[
    WHERE rnum >= #{start} AND rnum <= #{end}
    ]]>
	</select>

	
	<!-- 게시판 글 총레코드수/검색 레코드수 -->
	<select id="selectEventRowCount" parameterType="map"
		resultType="integer">
		SELECT
		COUNT(*)
		FROM event
		<include refid="eventSearch"></include>
	</select>
	
	<!-- 이벤트 등록 -->
	<insert id="insertEvent" parameterType="EventVO">
		INSERT INTO event(
		event_num,
		event_name,
		event_content,
		event_filename,
		event_start,
		event_end,
		event_type
		)
		VALUES (
		event_seq.nextval,
		#{event_name},
		#{event_content},
		#{event_filename,jdbcType=VARCHAR},
		#{event_start},
		#{event_end},
		#{event_type})
	</insert>
	
	<!-- 공지사항 시작 -->
	<!-- 공지사항 목록/검색 -->
		<sql id="noticeSearch">
		<where>
			<if test="keyfield != null and keyword != null">
				AND
				${keyfield} LIKE '%' || #{keyword} || '%'
			</if>
			<if test="keyfield != null and keyfield != ''">
       	        AND 
           	   ${keyfield} LIKE '%' || #{keyword} || '%'
        	</if>
		</where>
	</sql>
	

	<select id="selectNoticeList" parameterType="map"
		resultType="NoticeVO">
		SELECT *
		FROM (
		SELECT a.*, rownum rnum
		FROM (
		SELECT
		nb_num,
		nb_title,
		nb_hit,
		nb_reg_date
		FROM notice_board
		<include refid="noticeSearch"></include>
		) a
		)
    <![CDATA[
    WHERE rnum >= #{start} AND rnum <= #{end}
    ]]>
	</select>

	
	<!-- 게시판 글 총레코드수/검색 레코드수 -->
	<select id="selectNoticeRowCount" parameterType="map"
		resultType="integer">
		SELECT
		COUNT(*)
		FROM notice_board
		<include refid="noticeSearch"></include>
	</select>
	
	<!-- 공지사항 등록 -->
	<insert id="insertNotice" parameterType="NoticeVO">
		INSERT INTO notice_board
		(
		nb_num,
		nb_title,
		nb_content,
		nb_filename,
		mem_num
		)
		VALUES (
		notice_board_seq.nextval,
		#{nb_title},
		#{nb_content},
		#{nb_filename,jdbcType=VARCHAR},
		#{mem_num}
		)
	</insert>

	<!-- FAQ 시작 -->
	<!-- 공지사항 목록/검색 -->
		<sql id="faqSearch">
		<where>
			<if test="keyfield != null and keyword != null">
				AND
				${keyfield} LIKE '%' || #{keyword} || '%'
			</if>
			<if test="keyfield != null and keyfield != ''">
       	        AND 
           	   ${keyfield} LIKE '%' || #{keyword} || '%'
        	</if>
		</where>
	</sql>
	

	<select id="selectFaqList" parameterType="map"
		resultType="faqVO">
		SELECT *
		FROM (
		SELECT a.*, rownum rnum
		FROM (
		SELECT
		f_num,
		f_title,
		f_hit,
		f_reg_date
		FROM faq
		<include refid="faqSearch"></include>
		) a
		)
    <![CDATA[
    WHERE rnum >= #{start} AND rnum <= #{end}
    ]]>
	</select>

	
	<!-- 게시판 글 총레코드수/검색 레코드수 -->
	<select id="selectFaqRowCount" parameterType="map"
		resultType="integer">
		SELECT
		COUNT(*)
		FROM faq
		<include refid="faqSearch"></include>
	</select>

	
	<!-- FAQ 등록-->
	<insert id="insertFaq" parameterType="faqVO">
		INSERT INTO faq
		(
		f_num,
		mem_num,
		f_title,
		f_content,
		f_reg_date,
		f_filename,
		f_hit
		)
		VALUES (
		faq_seq.nextval,
		#{mem_num},
		#{f_title},
		#{f_content},
		SYSDATE,
		#{f_filename,jdbcType=VARCHAR},
		0
		)
	</insert>
	 
	<sql id="movieSearch">
		<where>
			<if test="keyfield != null and keyword != null">
				AND m_delete = 1
         	    AND ${keyfield} LIKE '%' || #{keyword} || '%'
			</if>
			<if test="keyfield != null and keyword == null">
           		AND m_delete = 1
        </if>
		</where>
	</sql>

	<!-- 게시판 글 총레코드수/검색 레코드수 -->
	<select id="selectMovieRowCount" parameterType="map"
		resultType="integer">
		SELECT
		COUNT(*)
		FROM movie
		<include refid="movieSearch"></include>
	</select>

	<!-- 게시판 전체/검색 목록 -->
	<select id="selectMovie" parameterType="map"
		resultType="MovieVO">
		SELECT
		*
		FROM (
		SELECT
		a.*,
		rownum rnum
		FROM (
		SELECT
		m_code,
                <![CDATA[
                REPLACE(REPLACE(m_name, '<', '&lt;'), '>', '&gt;') AS m_name,
                ]]>
		m_opendate,
		m_companys,
		m_status,
		m_filename
		FROM movie
		<include refid="movieSearch"></include>
		) a
		)
    <![CDATA[
    WHERE rnum >= #{start} AND rnum <= #{end}
    ]]>
	</select>

	<!-- 포인트 시작 -->
	<sql id="pointSearch">
		<where>
			<if test="keyfield != null and keyword != null">
         	    AND ${keyfield} LIKE '%' || #{keyword} || '%'
			</if>
		</where>
	</sql>

	<!-- 게시판 글 총레코드수/검색 레코드수 -->
	<select id="selectPointRowCount" parameterType="map"
		resultType="integer">
		SELECT
		COUNT(*)
		FROM point_history
		<include refid="pointSearch"></include>
		AND ph_type = 2
	</select>

	<!-- 포인트충전 전체/검색 목록 -->
	<select id="selectPoint" parameterType="map"
		resultType="PointVO">
		SELECT
		*
		FROM (
		SELECT
		a.*,
		rownum rnum
		FROM (
		SELECT
		ph_num,
		ph_point,
		ph_date,
                <![CDATA[
                REPLACE(REPLACE(mem_num, '<', '&lt;'), '>', '&gt;') AS mem_num,
                ]]>
		ph_payment
		FROM point_history
		<include refid="pointSearch"></include>
		AND ph_type = 2
		) a
		)
    <![CDATA[
    WHERE rnum >= #{start} AND rnum <= #{end}
    ]]>
	</select>
	
	<!-- 영화관 등록 -->
	<insert id="insertCinema" parameterType="cinemaVO">
		INSERT INTO cinema(
		c_num,
		c_branch,
		c_location,
		c_address,
		c_phone,
		c_parkable,
		c_status
		)
		VALUES (
		#{c_num},
		#{c_branch},
		#{c_location},
		#{c_address},
		#{c_phone},
		#{c_parkable},
		1)
	</insert>
	
	<!-- 영화관 목록 -->
		<sql id="cinemaSearch">
		<where>
			<if test="keyfield != null and keyfield != '' and keyword != null and keyword != ''">
	            AND ${keyfield} LIKE '%' || #{keyword} || '%'
	        </if>
		</where>
	</sql>
	
	
	<!-- 게시판 글 총레코드수/검색 레코드수 -->
	<select id="selectCinemaRowCount" parameterType="map"
		resultType="integer">
		SELECT
		COUNT(*)
		FROM cinema
		<include refid="cinemaSearch"></include>
	</select>

	<select id="selectCinema" parameterType="map"
		resultType="CinemaVO">
		SELECT *
		FROM (
		SELECT a.*, rownum rnum
		FROM (
		SELECT
		c_num,
		c_branch,
		c_location,
		c_phone,
		c_parkable
		FROM cinema
		<include refid="cinemaSearch"></include>
		) a
		)
    <![CDATA[
    WHERE rnum >= #{start} AND rnum <= #{end}
    ]]>

	</select>
	
	
	<!-- 상영관 등록 -->
	<insert id="inserttheater" parameterType="cinemaVO">
		INSERT INTO theater(
		te_num,
		c_num,
		te_name
		)
		VALUES (
		theater_seq.nextval,
		#{c_num},
		#{te_name})
	</insert>

	
	<select id="selectTheater" parameterType="String" resultType="theaterVO">
  		  SELECT te_name
  		  FROM theater
 		  WHERE c_num = #{c_num}
	</select>
	
	<!-- 자유게시판 목록 -->
	<sql id="communitySearch">
		<where>
	        <if test="keyfield != null and keyfield != '' and keyword != null and keyword != ''">
	            AND ${keyfield} LIKE '%' || #{keyword} || '%'
	        </if>
		</where>
	</sql>
	

	<select id="selectCommunityList" parameterType="map"
		resultType="BoardVO">
		SELECT *
		FROM (
		SELECT a.*, rownum rnum
		FROM (
		SELECT
		cb_num,
		mem_num,
		cb_title,
		cb_type,
		cb_report,
		cb_hit,
		cb_reg_date
		FROM community_board
		<include refid="communitySearch"></include>
		) a
		)
    <![CDATA[
    WHERE rnum >= #{start} AND rnum <= #{end}
    ]]>
	</select>

	
	<!-- 게시판 글 총레코드수/검색 레코드수 -->
	<select id="selectCommunityRowCount" parameterType="map"
		resultType="integer">
		SELECT
		COUNT(*)
		FROM community_board
		<include refid="communitySearch"></include>
	</select>
	
	
	<!-- 양도게시판 목록 -->
	<sql id="assignSearch">
		<where>
	        <if test="keyfield != null and keyfield != '' and keyword != null and keyword != ''">
	            AND ${keyfield} LIKE '%' || #{keyword} || '%'
	        </if>
		</where>
	</sql>
	

	<select id="selectAssignList" parameterType="map"
		resultType="AssignVO">
		SELECT *
		FROM (
		SELECT a.*, rownum rnum
		FROM (
		SELECT
		ab_num,
		mem_num,
		ab_title,
		ab_type,
		ab_report,
		ab_hit,
		ab_reg_date
		FROM assignment_board
		<include refid="assignSearch"></include>
		) a
		)
    <![CDATA[
    WHERE rnum >= #{start} AND rnum <= #{end}
    ]]>
	</select>

	
	<!-- 게시판 글 총레코드수/검색 레코드수 -->
	<select id="selectAssignRowCount" parameterType="map"
		resultType="integer">
		SELECT
		COUNT(*)
		FROM assignment_board
		<include refid="assignSearch"></include>
	</select>
	
	<!-- 댓글 목록 -->
	<sql id="replySearch">
		<where>
	        <if test="keyfield != null and keyfield != '' and keyword != null and keyword != ''">
	            AND ${keyfield} LIKE '%' || #{keyword} || '%'
	        </if>
		</where>
	</sql>
	

	<!-- 댓글 리스트 조회 -->
	<select id="selectReplyList" parameterType="map" resultType="replyVO">
		SELECT *
		FROM (
		SELECT a.*, rownum rnum
		FROM (
	    SELECT 'reply' AS data_type,
	    	   cc_num,
	           mem_num,
	           cc_content,
	           cc_report
	    FROM community_comment
	    <include refid="replySearch"></include>
        ORDER BY cc_report DESC
	    ) a
		)
	    <![CDATA[
	    WHERE rownum >= #{start} AND rownum <= #{end}
	    ]]>
	</select>

	<!-- 대댓글 리스트 조회 -->
	<select id="selectReCmtList" parameterType="map" resultType="replyVO">
		SELECT *
		FROM (
		SELECT a.*, rownum rnum
		FROM (
	    SELECT 'comment' AS data_type,
	    	   te_num,
	           mem_num,
	           te_content,
	           te_report
	    FROM community_response
	    <include refid="replySearch"></include>
	    ORDER BY te_report DESC
	    ) a
		)
	    <![CDATA[
	    WHERE rownum >= #{start} AND rownum <= #{end}
	    ]]>
	</select>
	
	<!-- 댓글 총레코드수/검색 레코드수 -->
	<select id="selectReplyRowCount" parameterType="map" resultType="integer">
		SELECT
		COUNT(*)
		FROM community_board
	    <include refid="replySearch"></include>
	</select>
	
	<!-- 대댓글 총레코드수/검색 레코드수 -->
	<select id="selectReCmtRowCount" parameterType="map" resultType="integer">
	    SELECT COUNT(*)
	    FROM community_response
	    <include refid="replySearch"></include>
	</select>

    <!-- 문의시작 -->
	<sql id="consultSearch">
		<where>
			<if test="keyfield != null and keyfield != '' and keyword != null and keyword != ''">
	            AND ${keyfield} LIKE '%' || #{keyword} || '%'
	        </if>
		</where>
	</sql>
	

	<!-- 문의 전체/검색 목록 -->
	<select id="selectConsultList" parameterType="map"
		resultType="consultVO">
		SELECT *
		FROM (
		SELECT a.*, rownum rnum
		FROM (
		SELECT
		consult_num,
		mem_num,
		consult_title,
		consult_type,
		consult_reg_date
		FROM consult
		<include refid="consultSearch"></include>
		) a
		)
    <![CDATA[
    WHERE rnum >= #{start} AND rnum <= #{end}
    ]]>
	</select>

	
	<!-- 문의 글 총레코드수/검색 레코드수 -->
	<select id="selectConsultRowCount" parameterType="map"
		resultType="integer">
		SELECT
		COUNT(*)
		FROM consult
		<include refid="consultSearch"></include>
	</select>
</mapper>							






