<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.cinema.dao.CinemaMapper"><!--인터페이스명-자동매핑-->
	<!-- 영화관 등록 -->
	<insert id="insertCinema" parameterType="cinemaVO">
		INSERT INTO cinema(
			c_num,
			c_branch,
			c_location,
			c_address,
			c_phone,
			c_theater,
			c_seat,
			c_parkable)
		VALUES (
			cinema_num.nextval,
			#{c_branch},
			#{c_location},
			#{c_address},
			#{c_phone},
			#{c_theater},
			#{c_seat},
			#{c_parkable})
	</insert>

	<!-- sql 태그와 include 태그를 이용해서 SQL문을 재사용 -->
	 <sql id="cinemaSearch">
	 	<where>
	 		<if test="c_location !=null and c_location != ''">
	 			AND c_location = #{c_location}
	 		</if>	 		
	 	</where>
	 </sql>
	
	<!-- 영화관 총레코드수/검색 레코드수 -->
	 <select id="selectCinemaCount" parameterType="map"  resultType="integer">
	 	SELECT
			COUNT(*)
		FROM cinema
	 	<include refid="cinemaSearch"></include>
	 </select>
	
	
	<!-- 영화관 전체/검색 목록 -->
	 <select id="selectCinemaList" parameterType="map" resultType="cinemaVO">
	 	SELECT
	 	   *
	    FROM (SELECT
	            a.*,
	            rownum rnum
	          FROM (SELECT
	                  c_num,
	                  c_branch,
	                  c_address,
	                  c_phone,
	                 <!--  c_theater,
	                  c_seat, -->
	                  c_parkable
	                FROM cinema               
	                <include refid="cinemaSearch"></include>
	                )a)
	 	<![CDATA[
	 	WHERE rnum >= #{start} AND rnum <= #{end}
	 	]]>	
 	</select>  
 	
 	
 	<!-- 영화관 정보 수정 --> 
 	<update id="updateCinema" parameterType="cinemaVO">
 		UPDATE cinema SET
 		   c_branch = #{c_branch},
 		   c_location = #{c_location},
 		   c_address = #{c_address},
 		   c_phone = #{c_phone},
 		  <!--  c_theater = #{c_theater},
 		   c_seat = #{c_seat}, -->
 		   c_parkable = #{c_parkable}
 		WHERE c_num = #{c_num}
 	</update> 
	
	
	<!-- 상영관 등록 -->
	<insert id="insertTheater" parameterType="theaterVO">
		INSERT INTO theater(
			th_num,
			th_name,
			th_position,
			c_num)
		VALUES (
			theater_seq.nextval,
			#{th_num},
			#{th_name},
			#{th_position},
			#{c_num})
	</insert>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<!-- 영화관 목록(잠시 보류)
	<select id="selectCinemaList" parameterType="integer" resultType="cinemaVO">
		SELECT
			*
		FROM cinema WHERE c_location=#{c_location} 
	</select>
	-->
</mapper>							






