<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.support.dao.SupportMapper">
	<insert id="insertConsult" parameterType="consultVO">
		INSERT INTO consult (consult_num,consult_title,consult_content,consult_ip,mem_num) 
				VALUES (consult_seq.nextval,#{consult_title},#{consult_content},#{consult_ip},#{mem_num})
	</insert>
</mapper>							






